<div class="w-full h-full" >

  <div class="p-4 ">

    <div class="flex flex-column">

      <div class="mb-5 text-center w-full">
        <a routerLink="/">
          <img src="./assets/logos/logo-de.png" width="100px" alt="">
        </a>

        <h1 class="text-bold text-3xl sm:text-6xl">{{pricing ? 'Precios' : 'Registrá tu tienda'}}</h1>
        <p class="text-800">Tienes <span class="font-bold text-primary">14 días gratis</span> para
          probar la plataforma y notar la diferencia de venta</p>

      </div>


      <mat-stepper class="w-full md:w-10 lg:w-7 mx-auto border-round shadow-3 muli" [linear]="false"
        [orientation]="stepperOrientation" #stepper *ngIf="!pricing else panelPricing">

        <mat-step [stepControl]="formDataUser">
          <ng-template matStepContent>
            <div class="mt-4" >
              <form [formGroup]="formDataUser">
                <ng-template matStepLabel>Datos personales</ng-template>
  
                <div class="wrap gap-0 md:flex-nowrap md:gap-4 d-flex mb-2">
  
                  <div class="w-full">
                    <label class="mb-2 block font-semibold">Nombre</label>
                    <mat-form-field class="w-full">
                      <input matInput placeholder="Ingresa tu nombre" formControlName="name">
                      <mat-error>{{getError('name')}}</mat-error>
                    </mat-form-field>
                  </div>
  
                  <div class="w-full">
                    <label class="mb-2 block font-semibold">Apellido</label>
                    <mat-form-field class="w-full">
                      <input matInput placeholder="Ingresa tu apellido" formControlName="last_name">
                      <mat-error>{{getError('last_name')}}</mat-error>
                    </mat-form-field>
                  </div>
  
                </div>
  
                <div class="w-full mb-2">
                  <label class="mb-2 block font-semibold">Email</label>
                  <mat-form-field class="w-full">
                    <input matInput placeholder="Ingresa tu email" formControlName="email">
                    <mat-error>{{getError('email')}}</mat-error>
                  </mat-form-field>
                </div>
  
                <div class="w-full mb-2">
                  <label class="mb-2 block font-semibold">Celular del titular de la cuenta</label>
                  <mat-form-field class="w-full">
                    <input class="pl-4" matInput placeholder="Ingresa tu numero telefonico" type="number"
                      formControlName="phone">
                    <span matTextPrefix>+54</span>
                    <mat-error>{{getError('phone')}}</mat-error>
                  </mat-form-field>
                </div>
  
  
                <div class="mt-5 d-flex justify-content-center gap-6 flex-wrap">
  
                  <button matRipple
                    class="py-3 px-4 font-bold text-base bg-primary-reverse border-round shadow-1 hover:shadow-5 cursor-pointer"
                    (click)="pricing = true">Ver precios</button>
  
                  <button matRipple
                    class="py-3 px-4 font-bold text-base bg-primary border-round shadow-1 hover:shadow-5 cursor-pointer"
                    (click)="nextStep()">Continuar</button>
  
                </div>
  
              </form>
            </div>
          </ng-template>
        </mat-step>


        <!--FORM DE LA TIENDA *************  -->
        <mat-step [stepControl]="formDataStore">
          <ng-template matStepLabel>Tienda</ng-template>

          <ng-template matStepContent>
            <div class="mt-4" >
              <form [formGroup]="formDataStore">
    
                <div class="w-full mb-2">
                  <label class="mb-2 block font-semibold">Nombre de la tienda</label>
                  <mat-form-field class="w-full">
                    <input matInput placeholder="" type="text" formControlName="name">
                    <mat-error>{{getError('name')}}</mat-error>
                  </mat-form-field>
                </div>
    
                <div class="w-full mb-2">
  
                  <label class="mb-2 block font-semibold">Nombre identificador</label>
  
                  <span class="font-semibold w-fit d-flex gap-2 px-3 py-2 text-sm border-round bg-red-100 border-left-3 border-red-600 shadow-1 mb-2" *ngIf="formDataStore.get('name_url')?.hasError('isNotAvailable'); else infoPath">
                    <i class="pi pi-info-circle"></i>
                    El nombre identificador esta en uso
                  </span>

                  <ng-template #infoPath>
                    <span class="font-semibold w-fit d-flex gap-2 px-3 py-2 text-sm border-round bg-blue-100 border-left-3 shadow-1 mb-2" >
                      <i class="pi pi-info-circle"></i>
                      El nombre ingresado se usara para generar el link de tu tienda
                    </span>
                  </ng-template>

                  <mat-form-field class="w-full">
                    <input (blur)="checkNameUrl()" matInput class="" placeholder="" type="text" formControlName="name_url">
                    <span class="text-700" matTextPrefix>https://delitienda.app/</span>
                    
                    <span class="mt-1 d-flex text-primary-800" matTextSuffix *ngIf="checkingNamePath">
                      Verificando
                      <i class="pi pi-spinner pi-spin ml-2"> </i>
                    </span>

                    <mat-error>{{getError('name_url')}}</mat-error>
                  </mat-form-field>
                </div>
    
                <div class="w-full mb-2">
                  <label class="mb-2 block font-semibold">Celular de la tienda</label>
                  <mat-form-field class="w-full">
                    <input class="pl-4" matInput placeholder="Ingresa tu numero telefonico" type="number"
                      formControlName="phone">
                    <span matTextPrefix>+54</span>
                    <mat-hint>Numero de Whatsapp que recivirá los pedidos</mat-hint>
                    <mat-error>Ingrese un telefono valido</mat-error>
                  </mat-form-field>
                </div>
    
    
                <div class="mt-4 d-flex justify-content-center gap-6 flex-wrap">
                  <button matRipple
                    class="py-3 px-4 font-bold text-base bg-primary-reverse border-primary border-round shadow-1 hover:shadow-5 cursor-pointer"
                    (click)="previusStep()">Volver</button>
                  <button matRipple
                    class="py-3 px-4 font-bold text-base bg-primary border-round shadow-1 hover:shadow-5 cursor-pointer"
                    (click)="nextStep()">Continuar</button>
                </div>
              </form>
            </div>
          </ng-template>
        </mat-step>



        <mat-step>
          <ng-template matStepLabel>Cuenta</ng-template>

          <ng-template matStepContent>
            <div class="mt-4" >
              <form [formGroup]="formDataAccount">
    
                <div class="w-full text-900 mb-2">
                  <label class="mb-2 block font-semibold">Usuario</label>
                  <mat-form-field class="w-full">
                    <input matInput type="text" formControlName="username">
                    <mat-error>Este campo es requerido</mat-error>
                  </mat-form-field>
                </div>
    
    
                <div class="w-full mb-2">
                  <label class="mb-2 block font-semibold">Contraseña</label>
                  <mat-form-field class="w-full">
                    <input matInput class="" placeholder="" type="password" formControlName="password">
                    <mat-error>Este campo es requerido</mat-error>
                  </mat-form-field>
                </div>
    
    
                <div class="mt-4 d-flex justify-content-center gap-6 flex-wrap">
                  <button matRipple
                    class="py-3 px-4 font-bold text-base bg-primary-reverse border-primary border-round shadow-1 hover:shadow-5 cursor-pointer"
                    (click)="previusStep()">Volver</button>
                  <button matRipple (click)="nextStep()"
                    class="py-3 px-4 font-bold text-base bg-primary border-round shadow-1 hover:shadow-5 cursor-pointer">Continuar</button>
                </div>
    
              </form>
            </div>
          </ng-template>




        </mat-step>

        <mat-step>

          <ng-template  matStepLabel>Pago</ng-template>
          <div class="mt-4" >

              <app-card-form (previusStep)="previusStep()" (payment)="startSubscription($event)" [reloadForm]="reloadFormMp" >
  
              </app-card-form>  
            
          </div>


        </mat-step>


      </mat-stepper>


      <ng-template #panelPricing>
        <app-pricing-cards (closePricing)="pricing = false"></app-pricing-cards>
      </ng-template>

    </div>

  </div>
</div>