@use "../../../../mixin.scss" as m;

.product-card {
  scroll-snap-align: start;
  width: 100%;
  // min-width: 320px;
  height: 112px;
  max-height: 112px;
  padding: 12px;

  @include m.tablet {
  }

  .product-image {
    max-width: 75px;
    height: 75px;

    img {
      width: 75px;
      height: 75px;
      object-fit: cover;
      box-shadow: 0 4px 10px -7px rgb(0 0 0);
    }
  }

  .product-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .product-ingredients {
    font-size: 12px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.product-price {
  color: #232323;
}
