@use "../../../../mixin.scss" as m;

.product-card {
  width: 100%;
  min-height: 112px;
  padding: 12px;
  
  @include m.tablet {
    min-width:270px;
  }

  .product-image {
    max-width: 85px;
    height: 85px;

    img {
      width: 85px;
      height: 85px;
      object-fit: cover;
      box-shadow: 0 4px 10px -7px rgb(0 0 0);
    }
  }

  .product-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .product-ingredients {
    font-size: 12px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.product-price {
  color: #232323;
}
