<div class="product-card" *ngIf="product.id else loader" [style.background]="product.id ? '#c6c6c69e' : ''">
  <a [routerLink]="[product.category + '/' + product.nameProduct]" [queryParams]="{id:product.id}">
    <div class="product-image">
      <img
        src="{{product.image}}"
        alt=""
      />
    </div>
  
    <div class="product-title">
      <h4>{{product.nameProduct}}</h4>
      <span class="product-price">{{ product.price | currency }}</span>
    </div>

  </a>
</div>

<ng-template #loader>
  <div class="post">
    <div class="avatar"></div>
    <div class="line"></div>
    <div class="line"></div>
  </div>
</ng-template>
