<a class=""
  [routerLink]="[linkMode === 'name' ? product.name : product.category_name?.toLowerCase() + '/' + product.name]"
  [queryParams]="{ id: product.id }"
>
<div class="product-card border-round bg-white shadow-3" *ngIf="product.id; else loader">

  <div class="flex flex-row gap-3">

      <div class="product-image">
        <img src="{{ product.image }}" class="border-round " alt="" />
      </div>

    <div class="product-info flex flex-column w-full h-full">
      <span class="product-name mb-1 text-base">{{ product.name }}</span>
      <span *ngIf="!product.ingredients.length" class="product-ingredients">
        {{product.description}}
      </span>

      <span *ngIf="product.ingredients" class="product-ingredients">{{ product.ingredients.join(", ") }}</span>
 
      <div class="mt-2 text-base product-price" *ngIf="getOptionWithLowestPrice(product); else singlePrice">
        Desde
        <span class="font-bold">
          {{ getOptionWithLowestPrice(product) | currency }}
        </span>
        <i class="pi"></i>
      </div>

      <ng-template #singlePrice>
        <div class="container-price mt-2">
          <span class="product-price font-bold text-base">{{ product.price | currency }}</span>
        </div>
      </ng-template>
      
    </div>
    
  </div>

  
</div>
</a>

<ng-template #loader>
  <p-skeleton
    width="100%"
    height="130px"
    borderRadius="15px"
    styleClass="mb-2"
  ></p-skeleton>
  <p-skeleton styleClass="mb-2" borderRadius="5px"></p-skeleton>
  <p-skeleton width="50%" styleClass="mb-2" borderRadius="5px"></p-skeleton>
</ng-template>
