.container{

    height: auto;
    width: 100vw;
    
}

.content{
    max-width: 500px;
    margin: 0 auto;
    padding: 0 15px 60px 15px ;
    position: relative;

}

.container-loader{
    height: calc(100vh - 73px);
    width: 100vw;
    position: absolute;
    left: 0;
    top: 0;
}