.container{

    width: 100%;
    height: 100vh;
    
}

.content{
    height: 100%;
    margin: 0 auto;
    padding: 0 ;
    padding-bottom: 65px;


}

.container-data{


     
}

.container-loader{
    height: calc(100vh - 150px);
}