<section class=" bg-white" id="pricing">

    <div class="container-landing py-6 px-3 lg:px-0 relative">
 

        <div class="title-pricing mb-6 text-center">
            <h2 class="font-extrabold pb-4">Elegi tu plan y comenzá</h2>
            <div class="w-7rem m-auto mb-4 separator border-round bg-sec">
            </div>

            <div class="flex align-items-center w-fit p-3 border-round gap-2 bg-gray-200 m-auto ">
                <img loading="lazy" src="./assets/icons/tax.png" width="35" alt="">
                <div class="text-left">
                    <span class="text-sec font-extrabold uppercase mb-1">delitienda</span>
                    <p class="font-semibold">
                        <b>No</b> cobrará comisión por ventas
                    </p>
                </div>

            </div>

        </div>


        <div
            class="flex flex-column md:flex-row gap-4 w-full justify-content-center align-items-center md:align-items-end">

            <div
                class="w-full p-4 card-pricing card-plan flex flex-column gap-3 bg-gray-200 border-round-lg shadow-3 fadein">
                <div class="w-full">
                    <h3 class="text-4xl font-semibold">Básico</h3>
                    <div class="text-4xl font-bold flex align-items-center">
                        <span class="text-xl">$</span>
                        <h4 class="font-extrabold">{{plans.basic.price}}</h4>
                        <span class="text-xl text-green-600">/mes</span>
                    </div>
                </div>

                <div class="w-full">
                    <ul>
                        <li class="mb-2" *ngFor="let feature of plans.basic.features.slice(0, featuresCount)">
                            <span class="d-flex gap-2">
                                <i class="pi pi-check text-green-400 font-semibold"></i>
                                {{feature}}
                            </span>
                        </li>

                        <li *ngIf="featuresCount !== plans.basic.features.length + 6" (click)="seeAllFeatures()"
                            class="text-gray-700 cursor-pointer font-semibold text-center mt-2">Ver todas las
                            características</li>
                    </ul>
                </div>

                <div class="w-full">
                    <a matRipple
                        class=" block text-center w-full px-4 py-3 text-base border-round bg-primary text-white font-semibold shadow-6"
                        routerLink="/login/register">Comenzar 30 días gratis</a>
                </div>

            </div>


            <div
                class="w-full p-4 card-pricing card-plan card-prox flex flex-column gap-3 bg-primary border-round-lg shadow-1">
                <div class="w-full">
                    <h3 class="text-4xl text-white font-semibold ">Avanzado</h3>
                    <div class="text-4xl font-bold flex align-items-center">
                        <span class="text-xl">$</span>
                        <h4 class="font-extrabold">{{plans.advanced.price}}</h4>
                        <span class="text-xl text-200 text-green-600">/mes</span>
                    </div>
                </div>

                <div class="w-full">
                    <ul>
                        <li class="mb-2" *ngFor="let feature of plans.advanced.features">
                            <span class="d-flex gap-2">
                                <i class="pi pi-check text-green-400 font-semibold"></i>
                                {{feature}}
                            </span>
                        </li>
                    </ul>
                </div>


                <div class="w-full">
                    <button class="w-full cursor-auto px-4 py-3 text-base border-round font-semibold"
                        disabled>Próximamente</button>
                </div>


            </div>

<!-- 
            <div class="wp-contact w-full p-4  border-round-lg shadow-1 flex flex-column align-items-center gap-2">
                <div class="profile w-5rem">
                    <img src="/assets/logos/logo-de.png" alt="" class="w-full">    
                </div>


                <div class="">
                    <span class="block w-full text-center">Contacto</span>
                    <span class=" block w-full text-center font-bold">
                        +54 3543 655547
                    </span>
                </div>

                <button (click)="contactWp()" class="mb-2 d-flex gap-2 text-white btn-wp py-3 px-4 border-round-3xl text-base font-bold">
                    <i class="pi pi-whatsapp"></i>
                  Enviar mensaje
                </button>

            </div> -->
        </div>

    </div>

</section>