@use '../../../../mixin.scss' as m;

.title-pricing{
    top: -20px;

    h2{
        font-size: 60px;
        background: -webkit-linear-gradient(left, #121212, #4d4d4d);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.separator{
    height: 5px;
}

.card-pricing{
    min-height: 420px;

    @include m.laptop{
        max-width: 314px;
    }
}

.card-1{

    @include m.tablet{

    }
}

.card-plan{
    transition: height .5s ease; /* Transición de la altura máxima */
    overflow: hidden; /* Oculta el contenido que sobresale de la altura máxima */
}


.card-prox{
    position: relative;
    &::after{
        // content: "";
        position: absolute;
        width: 100%;
        height: 100%;
    }
}

.profile{
    img{
    }
}

.btn-wp{
    background: #22C55E;
    border-radius: 30px;
}