<div>

  <div [@enterRight] class="new-product">

    <div class="d-flex justify-content-between gap-2 header-new-product mb-3 px-3 py-2">
      
      <div class="back-new-product d-flex" (click)="closeForm()">
        <i class="pi pi-arrow-left mr-5 text-md"></i>
        <h1 class="text-white" id="newProduct">Nuevo</h1>
      </div>

        <div class="container-buttons-save">
          <button type="submit" (click)="saveProduct()" [disabled]="processLoad" pButton class="button-save-product p-button-danger">
            Guardar
          </button>

          <p-button [disabled]="processLoad" matTooltip="Vista previa" icon="pi pi-eye" (click)="showPreview()" type="submit"
            styleClass="p-button-secondary">
          </p-button>
        </div>
    
    </div>


    <div class="container-form p-4 pt-0">

      <form class="form-new-product" [formGroup]="form">
        <div class="container-inputs">

          <p class="mb-3" >Completa el siguiente formulario para agregar un nuevo producto a la categoria actual</p>
          <!-- ALERTAS DE CONFIGURACION DE PRECIO -->




          <div id="initialForm" class="">
            <mat-form-field  class="input-group w-full" color="primary">
              <mat-label>Nombre</mat-label>
              <input type="text" matInput formControlName="name" />
              <mat-error>Este campo es requerido</mat-error>
            </mat-form-field>

            <mat-form-field  matTooltipClass="tooltip-price" matTooltipPosition="above"
              matTooltip="El precio ingresado se utilizará como valor del producto si NO existe un grupo de opciones que determine el precio final."
              class="input-group w-full" color="primary">
              <mat-label>Precio base</mat-label>
              <span matTextPrefix>$&nbsp;</span>

              <input formControlName="price" type="number" matInput />
              <mat-error>Este campo es requerido</mat-error>
            </mat-form-field>


            <mat-form-field class="input-group w-full" >
              <mat-label>Ingredientes (Opcional)</mat-label>
              <mat-chip-grid #chipGrid aria-label="Enter Ingredientes">
                <mat-chip-row *ngFor="let i of ingredientsList" id="ingredients" (removed)="remove(i, $event)"
                  [editable]="true" (edited)="edit(i, $event)" [aria-description]="'press enter to edit ' + i">
                  {{ i }}

                  <button matChipRemove [attr.aria-label]="'remove ' + i">
                    <mat-icon>cancel</mat-icon>
                  </button>
                </mat-chip-row>
                <input formControlName="ingredients" placeholder="Nuevo Ingrediente" id="ingredients"
                  [matChipInputFor]="chipGrid" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                  [matChipInputAddOnBlur]="true" (matChipInputTokenEnd)="add($event)" />
              </mat-chip-grid>
            </mat-form-field>

            <!-- DESCRIPCION///////////////////////////////// -->

            <div class="inputs-inline">

              <mat-form-field >
                <mat-label>Descripcion (Opcional)</mat-label>
                <textarea maxlength="150" #textarea formControlName="description" matInput></textarea>
                <mat-hint>Max 150 caracteres/{{textarea.value.length}} </mat-hint>
              </mat-form-field>

              <div class="container-input-image">
                <label for="previewImageProduct" class="load-image-text" *ngIf="!previewImageProduct">Carga la imagen de
                  tu producto</label>
                <p-fileUpload *ngIf="!previewImageProduct" chooseIcon="pi pi-upload"
                  (uploadHandler)="uploadImage($event)" [auto]="true" #inputImage [customUpload]="true"
                  chooseLabel="Imagen" mode="basic" accept="image/*" [maxFileSize]="1000000">
                </p-fileUpload>

                <ul *ngIf="previewImageProduct">
                  <img [src]="previewImageProduct" alt="" width="150px">
                  <p-button icon="pi pi-times" class="button-remove-image" (click)="removePreviewImage()"></p-button>
                </ul>
              </div>
            </div>
          </div>

        </div>


        <div>
          <h2 class="mt-4 title">Grupo de opciones</h2>
          <p class="">Agrega los grupos de opciones disponibles para el producto <u>{{form.get('name')?.value}}</u> </p>

          <app-set-options-product (emitterSelectedOptions)="getOptionsSelected($event)"></app-set-options-product>
        </div>

     




      </form>
    </div>
  </div>


  <div (click)="closeForm()" [@fadeIn] class="overlay-new-product"></div>
</div>