.new-product{
    margin: 0 0 0.5rem 0;
}

.container-form{
    
}

.form-new-product{
    
}
.container-inputs{

}

.form-variations{
    width: 100%;

}



.alert-save{
    position: absolute;
    top: 31px;
    left: 209px;
}

.button-close-modal{
    position: absolute;
    top: 22px;
    right: 22px;
    padding: 10px;
    opacity: 0;
}

.options-group{
    border: 1px solid rgb(77, 77, 77);
    padding: 5px;
    border-radius: 5px;
    display: flex;
    @media (max-width:700px) {
        flex-direction: column;

    }

    span{
        display: block;
        padding: 5px 0 0 5px;
        
    }

    .option-input{
        width: 100%;

    }


}

.container-inputs-options{
    padding: 5px;

    @media (max-width:700px) {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}

.container-input-image{
    .load-image-text{
        color: rgba(0, 0, 0, 0.6);
        display: block;
        margin-bottom: 7px;
        font-weight: 500;
    }
 
}
    
.button-remove-image{
    margin-left: 10px;
    
}


.container-current-options{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;


    .option{
        width: 48%;
        @media (max-width:700px) {
            width: 100%;
        }
        padding: 5px;
        background: #b0b6efcf;
        border-radius: 5px;
        margin: 5px 0;

                
    }
    
    
    .list-options{




        
    }
    
    
    .item-option{
        height: auto;
        display: flex;
        justify-content: space-between;
        background: #FFF;
        padding: 7px;
        margin: 2px 0;
        position: relative;
        border-radius: 5px;


        .edit-icon{
            
        }
        
    }

    .input-update-price{
        position: absolute;
        width: 100px;
        top: 5px;
        right: 4px;
        border: none;
        border-radius: 5px;
        padding: 5px 7px;
        background: #6366f1;
        font-size: 16px;
        color: #FFF;

        &::placeholder{
            color: #fff;
        }

    }

}

.input-50{
    margin: 5px;
    @media (max-width:700px) {
        width: 100%;
    }   

}

.full-input{
    width: 100%;
}



.inputs-inline{
    column-gap: 25px;
    row-gap: 10px;
    width: 100%;
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}



.container-buttons-save{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 20px 0 0 0;
    
    .button-save-product{
   
    }
}


.alert-options{
    font-size: 12px;
    color: #f44336;
    letter-spacing: 0.5px;
    padding: 0 !important;
}

.alert-margin{
    margin-top: -26px;
    margin-left: 19px;
    letter-spacing: 0.4px;
}


.invalid-button{
    background:rgb(184, 184, 184) !important;
}


.tooltip-custom{
    width:500px !important
}

.check-multiple{
    margin: 10px 0;

}

.container-radio-options{
    border-top: 1px solid #cbcbcb;
    border-bottom: 1px solid #cbcbcb;
    padding: 6px 0;
    margin-bottom: 10px;
}


.title-variation{
    display: flex;
    align-items: center;
    margin: 0 0 10px 0;
    font-size:16px ;
    column-gap: 5px;
    cursor: pointer;

    span{
        margin-bottom: -5px;
    }

}

.font16{
    font-size: 16px !important;
}


