.new-product{
    margin: 0 0 0.5rem 0;
}

.container-form{
    
}

.container-inputs{

}


.form-new-product{

}

.input-group{
    margin: 5px;

}

.button-save-product{
    margin-top: 10px;
    display: block;
  }
