<div class="w-full h-full bg-white border-round p-2 mb-3 shadow-1" *ngIf="order">

    <div class="d-flex">
        <div class="d-flex gap-1 pr-2 border-right-1">
            <h3 class="font-semibold">{{order.local_name}}</h3>
        </div>

        <span class="pl-2 text-700 text-sm">Hace {{formattedDate}}</span>
    </div>

    <div class="my-2 text-700 text-sm w-fit p-1 border-round bg-orange-400 text-white">
        <span>
            {{order.payMethod}}
        </span>
        <span class="font-bold">
            {{order.subtotal | currency}}
        </span>
    </div>

    <div class="text-700 text-sm p-1 border-round bg-gray-200 w-fit">
        <span class="block" *ngIf="!hasShipping()">
            {{order.shippingMethod || ''}}
        </span>

        <span *ngIf="hasShipping()">
            <i class="pi pi-map-marker"></i>
            {{order.direction}}
        </span>

    </div>

    <div class="p-2">
        <div class="">
            <span>Mi compra</span>
        </div>
        <div class="flex p-2 flex-column gap-3">
            <div class="" *ngFor="let product of order.cart">
                <div class="">
                    <h5>X{{product.quantity}} {{product.name}}</h5>

                    <div *ngIf="product.userOptions[0] !== null" class="container-options">
                        <div *ngFor="let o of product.userOptions" class="option">

                            <ng-template #simple>
                                <p class="detail-item">
                                    <b>{{o.typePrice === 1 ? '' : o.nameVariation + ': '}}</b>
                                    <span>{{o.nameOption}}</span>
                                </p>
                            </ng-template>

                            <div *ngIf="o.multiple else simple">
                                <p class="detail-item">
                                    <b>-{{o.nameVariation}}: </b>
                                    <span style="display: inline-block; margin-right: 3px;"
                                        *ngFor="let m of o.multipleOptions; index as i; ">
                                        {{i === o.multipleOptions!.length - 1 ? m.nameOption : m.nameOption + ',' }}
                                    </span>
                                </p>
                            </div>


                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


</div>