<div class="container-add">
  <div class="container-form">
    <form [formGroup]="form" (submit)="modePreview ? null : saveOrder()">

     <div class="container-data-product">
      <div class="container-options">
        <div *ngFor="let optionGroup of product?.variations">
          <div
            *ngIf="!optionGroup.multiple; else checkBox"
            class="container-radio container-input"
          >
            <div>
              <h4>{{ optionGroup.nameVariation }}</h4>
            </div>
            <mat-radio-group [formControlName]="optionGroup.nameVariation"
            class="radio-group">
              <div
                class="container-values-options"
                *ngFor="let option of optionGroup.options; index as i"
              >
                <mat-radio-button
                (change)="saveOptions(option, optionGroup)"
                  color="primary"
                  [value]="option.nameOption"
                  >{{ option.nameOption }}</mat-radio-button
                >

                <span *ngIf="option.price !== 0"
                  ><b>{{ option.price | currency }}</b>
                </span>

              </div>

              <!-- ALERTT////// -->
              <span class="alert-form" *ngIf="this.form.get(optionGroup.nameVariation)?.invalid">Elije una opcion <i class="pi pi-info-circle"></i></span>
           
            </mat-radio-group>
          </div>

          <hr color="#b9b9b9" />

          <ng-template #checkBox>
            <div class="container-checkbox container-input">
              <div class="title-option">
                <div>
                  <h4>{{ optionGroup.nameVariation }}</h4>
                  <h5>Selecciona las opciones que quieras.</h5>
                </div>

                <span
                  [style.background]="theme.get('background')"
                  [style.color]="theme.get('colorTextSecondary')"
                  class="chip type-option"
                  >Opcional</span
                >
              </div>

              <div
                *ngFor="let option of optionGroup.options; index as i"
                class="container-values-options"
              >
                <mat-checkbox 
                  formControlName="checkboxs"
                  (change)="saveOptions(option, optionGroup)"
                  color="primary"
                >
                  {{ option.nameOption }}
                </mat-checkbox>

                <span *ngIf="option.price !== 0">
                  <b>{{ option.price | currency }}</b></span
                >
              </div>
            </div>
          </ng-template>
        </div>
      </div>

      <div class="especifications">
        <h4>Observaciones</h4>
        <div class="container-textarea">
          <textarea
            formControlName="especifications"
            id="especifications"
            placeholder="Si tienes una aclaracion sobre tu pedido escribela aqui. Ej:Sin sal y sin mayonesa "
          ></textarea>
        </div>
      </div>
     </div>

     
  <!-- BOTONES AGREGAR///////////////////////////// -->
  <div class="quantity" [style.background]="theme.get('backgroundSec')">
    <div class="container-buttons" >

      <div class="container-quantity">
        <i matRipple [matRippleColor]="'#00000012'" (click)="setQuantity(-1)" class="pi pi-minus"></i>

        <input
          formControlName="quantity"
          type="number"
          min="1"
          [value]="quantity"
        />

        <i matRipple [matRippleColor]="'#00000012'" (click)="setQuantity(1)" class="pi pi-plus"></i>
      </div>

      <div class="container-button-add">

        <button
          matRipple [matRippleColor]="'#00000012'"
          [style.background]="theme.get('background')"
          [style.color]="theme.get('colorTextSecondary')"
          [class.btn-invalid]="this.form.invalid"
        >
          Agregar 
          <span *ngIf="form.valid">
            {{subtotal ? (subtotal*form.get('quantity')?.value|currency) : ''}}
          </span>
        </button>
    
        <div
          [@addItemCart]
          [style.color]="theme.currentTheme.colorTextSecondary"
          [style.background]="theme.currentTheme.background"
          class="anime-cart"
          *ngIf="stateButton"
        >
          1
        </div>
        
      </div>
      
    </div>

    <a *ngIf="!modePreview" [routerLink]="['/cart']">
      <span class="cart-flotant" [@fadeIn] *ngIf="currentCart.length !== 0" [style.background]="theme.get('backgroundSec')"> 
        <i class="pi pi-shopping-cart"></i> 
        <div *ngIf="currentCart !== 0" [style.background]="theme.get('background')" [style.color]="theme.currentTheme.colorTextSecondary" class="cart-counter">{{ currentCart.length }}</div>
  
      </span>

    </a>

  </div>


    </form>
  </div>


  
  


</div>
