@use '../../../../mixin.scss' as m;

.container-add {

}

.padding-details{
}
.container-form {
}

.container-data-product {
  // overflow-y: scroll;
}

.container-options {
  display: flex;
  flex-direction: column;
}
 
.container-input {
  display: flex;
  column-gap: 4px;
  flex-direction: column;
}

.radio-group {
  display: flex;
  flex-direction: column;
}

.title-option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  h4 {
  }

  h5 {
    color: #656565c2;
  }

  .type-option {
    font-size: 10px;
  }
}

.container-values-options {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  span {
    color: rgba(0, 0, 0, 0.87);
  }
}
.especifications {
}

.container-textarea {
  
  textarea {
    font-family: inherit;
    border: 1px solid #2e2e2e;
    border-radius: 5px;
    width: 100%;
    padding: 10px;

    &:active{
      color: #0c0c0c;
    }

    &:focus {
      border-color: #47da99;
    }
  }
}

.quantity {
  position: fixed;
  box-shadow: 0 7px 16px -1px #000;
  
  @include m.tablet{
    box-shadow: none;
  
  }
  bottom: 0px;
  padding: 10px;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);

  .container-buttons {
    display: flex;
    align-items: center;
    min-height: 40px;
    justify-content: space-between;
  }
  
  .container-quantity {
    display: flex;
    align-items: center;
    height: 50px;
    
    input {
      width: 20px;
      text-align: center;
      border-radius: 5px;
      font-weight: bold;
      font-size: 16px;
    }
  
    i {
      font-size: 16px;
    }
  }
  

   .button-add {
      padding: 10px 22px;
      border: none;
      font-weight: bold;
      border-radius: 5px;
      width: max-content;
      background: #212251;
      color: white;
    }
}


.alert-form {
  display: flex;
  align-items: center;
  font-size: 12px;
  font-family: "Roboto";
  color: #f44336;
  letter-spacing: 0.4px;
  line-height: 20px;

  
  i{
    margin-left:  6px;
  }

  
}


.btn-invalid{

  background: #6666669e !important;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}

.shake {
  animation: shake 0.5s;
}
