<div class="container-add">
  <h4>Tu orden</h4>

  <div class="container-form">
    <form [formGroup]="form" (submit)="saveOrder()">
      <div class="container-options">
        <div *ngFor="let option of product.options['porcion']">
          <div class="container container-input">
            <input
              type="radio"
              formControlName="options"
              checked
              id="{{ option }}"
              value="{{ option }}"
            />
            <label for="{{ option }}">{{ option }}</label>
            <div class="checkmark"></div>
          </div>
        </div>

        <span [class]="'form-error ' + shakeError" *ngIf="form.controls['options'].invalid" >Elije una opción</span>
     
      </div>

      <div class="especifications">
        <div class="container-textarea">
          <textarea
            formControlName="especifications"
            id="especifications"
            placeholder="Si hay algun ingrediente que no quieras escribelo aqui"
          ></textarea>
        </div>
      </div>

      <div class="quantity">
        <h4>Cantidad</h4>
        <div class="container-buttons">
          <div class="container-quantity">
            <i
              (click)="setQuantity(-1)"
              class="fa-solid fa-minus"
            ></i>

            <input formControlName="quantity" type="number" min="1" [value]="quantity" />

            <i (click)="setQuantity(1)" class="fa-solid fa-plus"></i>
          </div>

          <div class="container-button-add">
            <button
              [@fadeIn]
              *ngIf="stateButton"
              [style.background]="theme.get('background')"
              [style.color]="theme.get('colorTextSecondary')"
            >
            Agregar al carrito
            </button>
              
            <div [@addItemCart] [style.color]="theme.currentTheme.colorTextSecondary" [style.background]="theme.currentTheme.background" class="anime-cart" *ngIf="stateButton">
              1
          </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
