@use '../../../shared/components/product-card/product-card.component.scss';

.products-set{
    padding: 15px 0;
}

.container-products{
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    padding: 15px 0;
}

.container-grid{
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    gap: 10px 20px;
    grid-auto-flow: column;
    place-items: center;
    
}
