@use '../../../../mixin.scss' as m;
@use "../../../shared/components/product-card/product-card.component.scss";

.products-set {
  position: relative;
}

.container-products {
  scroll-snap-type: x proximity;
}

.container-grid {
  display: grid;
  grid-auto-columns: 100%;
  gap: 10px ;
  grid-auto-flow: row;
  place-items: center;
  scroll-snap-type: x proximity;

  @include m.tablet{
    grid-template-columns: repeat(2,1fr);
  }

}

.card-grid{
  scroll-snap-align: start;

}