@use '../../../../mixin.scss' as m;
@use "../../../shared/components/product-card/product-card.component.scss";

.products-set {
  padding: 15px 0;
  position: relative;
}

.container-chip {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link-category{
    font-size: 15px;
    text-decoration: underline;
    color: #2b2b2b;
    font-weight: bold;
}

.container-products {
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  padding: 15px 0;
}

.container-grid {
  display: grid;
  grid-auto-columns: 90%;
  grid-template-rows: repeat(2, max-content);
  gap: 10px ;
  grid-auto-flow: column;
  place-items: center;

  @include m.tablet{
    grid-auto-columns: 55%;
    grid-template-rows: repeat(2, max-content);
  }

  @include m.laptop{
    grid-auto-columns: none;
    grid-auto-flow: row;
    grid-template-columns: repeat(2, 49.5%);


  }

}
