<div [style.background]="'#FF725E'"
    class="relative overflow-hidden banner-qr p-4 w-full h-12rem sm:h-24rem border-round-xl">

    <div class="flex align-items-center w-full h-full pl-0 ">

        <div class="d-flex flex-row-reverse xl:flex-row h-full">
            <div class="text-qr flex flex-column align-items-center sm:align-items-start w-auto">


                <div class="list-qr text-white">
                    <h1 class="title-link mb-5 text-white text-3xl md:text-6xl font-bold">Comparte tu enlace</h1>
                    <p>
                        Envia un link a tus clientes para que puedan acceder a tu tienda
                    </p>
                </div>

                <button matRipple
                    class="p-3 bg-white w-8 border-round text-black font-bold cursor-pointer mt-4 shadow-1">
                    <span class="text-black">
                        Copiar enlace a la tienda
                        <i class="pi pi-copy font-lg"></i>
                    </span>
                </button>

            </div>

            <div class="image-share-link hidden h-full sm:block">
                <img class="w-full h-full" src="./assets/images/link-pana.png" alt="Compartir link de acceso">
            </div>
        </div>

    </div>

</div>