<div class="w-full card">

    <div class="mb-3">
        <h2 class="text-xl">
            Métodos de pago
        </h2>
        <p>Configura los métodos de pago que ofreces a tus clientes</p>
    </div>

    <form [formGroup]="form">

        <div class="mb-4">
            <button [disabled]="loadForm" (click)="editing ? saveForm() : editForm() " mat-raised-button
                color="primary">
                <span class="d-flex gap-2">
                    {{editing ? 'Guardar' : 'Editar'}}
                    <i *ngIf="loadForm" class="pi pi-spinner pi-spin "></i>
                    <i *ngIf="!loadForm"
                        [ngClass]="editing ? 'fa-solid fa-floppy-disk' :'fa-solid fa-pen-to-square'"></i>
                </span>

            </button>
        </div>

        <div class="card">
            <mat-checkbox class="" color="primary" formControlName="cash">
                Efectivo
            </mat-checkbox>

            <mat-checkbox class="" color="primary" formControlName="transfer">
                Transferencia
            </mat-checkbox>

            <mat-checkbox class="" color="primary" formControlName="card">
                Tarjeta Crédito/Débito
            </mat-checkbox>

            <div *ngIf="form.get('transfer')?.value" class="flex wrap gap-3 mt-2">

                <mat-form-field>
                    <mat-label>
                        CBU
                    </mat-label>
                    <input matInput formControlName="cbu" placeholder="Ingresa tu CBU" type="text">
                </mat-form-field>

                <mat-form-field>
                    <mat-label>
                        Alias
                    </mat-label>
                    <input matInput formControlName="alias" placeholder="Ingresa tu Alias" type="text">
                </mat-form-field>

                <mat-form-field>
                    <mat-label>
                        Nombre de la cuenta
                    </mat-label>
                    <input matInput formControlName="nameAccount" placeholder="Ingresa el nombre de la cuenta" type="text">
                </mat-form-field>

                <mat-form-field>
                    <mat-label>
                        Entidad bancaria
                    </mat-label>
                    <input matInput formControlName="entity" placeholder="Ingresa el nombre del banco" type="text">
                </mat-form-field>

            </div>
        </div>
    </form>

</div>