<div class="relative w-full bg-none md:bg-white p-4 shadow-5 flex flex-column md:border-round-right-3xl"
  style="height: 100vh;">

  <div class="flex justify-content-end w-full absolute" style="top:10px;right: 30px;">
    <a routerLink="/">
      <img src="./assets/logos/logo-de.png" class="w-6rem" alt="">
    </a>
  </div>

  <div class="d-flex w-full justify-content-center flex-1">

    <div class="p-4 w-12 xl:w-9 bg-white border-round-xl shadow-7 md:shadow-none ">

      <div class="">
        <h1 class="text-3xl font-bold mb-2">Iniciar session</h1>
        <span class="text-600 mb-3 block">Ingresa tus credenciales de cliente</span>


        <div  class="h-2rem">
          
          <div [@fadeIn] *ngIf="errorResponse" class="container-errors">
            {{errorResponse}}
          </div>
        </div>

        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div class="container-form">
            <div class="form-group" *ngIf="register">
              <div class="input-login-group" [ngClass]="getError('email') ? 'invalid' : '' ">
                <label for="email"><i class="icon-login fa-solid fa-envelope"></i></label>
                <input type="email" placeholder="Email" class="input-login" formControlName="email" id="email">
              </div>
              <div *ngIf="getError('email')">
                <div class="error-form" *ngIf="getError('email')">Ingrese su email.</div>
              </div>
            </div>

            <div class="form-group">
              <label class="font-bold">Usuario</label>

              <div class="input-login-group mt-1" [ngClass]="getError('username') ? 'invalid' : ' ' ">
                <label for="username"><i class="icon-login fa-solid fa-user"></i></label>
                <input type="text" placeholder="Usuario" class="input-login" formControlName="username" id="username">
              </div>

              <div class="error-form" *ngIf="getError('username')">Ingrese su nombre de usuario.</div>
            </div>

            <div class="form-group mb-1">
              <label class="font-bold">Contraseña</label>
              <div class="input-login-group mt-1" [ngClass]="getError('password') ? 'invalid' : ' '">
                <label for="password"><i class="icon-login fa-solid fa-lock"></i></label>
                <input [type]="showPassword ? 'text' : 'password'" placeholder="Contraseña" class="input-login"
                  formControlName="password" id="password">
                <span>
                  <i matRipple [ngClass]="['icon-show-pass', 'pi', showPassword ? 'pi-eye-slash' : 'pi-eye']"
                    (click)="showPassword = !showPassword"></i>
                </span>
              </div>
              <div>
                <div *ngIf="getError('password', 'minlength')" class="error-form">Su contraseña debe tener 8 caracteres
                  como minimo.</div>
                <div *ngIf="getError('password', 'required')" class="error-form">Ingrese su contraseña.</div>
              </div>
            </div>
            <div *ngIf="!register" class="mt-2 text-end">
              <a [routerLink]="['reset_password']" class="cursor-pointer underline font-bold hover:no-underline">Olvidaste tu 
                contraseña?</a>
            </div>


            <div class="form-group" *ngIf="register">
              
              <div class="input-login-group"
                [ngClass]="[getError('repeatPassword') ? 'invalid' : '', comparePassword() ? 'invalid' : ''] ">
                <label for="repeatPassword"><i class="icon-login fa-solid fa-key"></i></label>
                <input type="password" placeholder="Repita su contraseña" class="input-login"
                  formControlName="repeatPassword" id="repeatPassword">
              </div>

              <div>
                <div class="error-form" *ngIf="getError('repeatPassword')">Repita su contraseña.</div>
                <div class="error-form" *ngIf="comparePassword()">Las contraseñas no coinciden.</div>
              </div>
            </div>




          </div>

          <button [disabled]="formSubmitted" class="submit-btn shadow-3" type="submit">
            <span *ngIf="!formSubmitted">
              {{register ? 'Registrarse' : 'Acceso' }}
            </span>
            <i *ngIf="formSubmitted" class="pi pi-spin pi-spinner"></i>
          </button>

          <!-- ocultar -->
          <a href="" class="mt-4 block text-center"> Quiere abrir una tienda en deli? <br><span
              class="font-bold text-sec underline hover:no-underline">Crear cuenta</span> </a>



        </form>

      </div>

    </div>

  </div>



</div>