<section class="w-full pt-7 relative">


    <div class="w-full">

        <div class="w-11 md:w-10 m-auto flex wrap justify-content-center gap-8">

            <div class="w-full md:w-3">

                <a mat-ripple [routerLink]="['/']"
                    class="cursor-pointer py-3 font-bold px-5 block text-center sm:w-fit border-round bg-primary mb-5">
                    <i class="pi pi-arrow-left mr-2 font-extrabold"></i>
                    Volver
                </a>

                <nav class="md:sticky h-fit" style="top: 20px;">
                    <ul class="px-5 py-4 border-round-xl flex flex-column gap-2 font-bold bg-gray-100">
                        <span class="font-bold mb-2 text-xl block">Indice</span>
                        <li class="text-primary"><a href="politicas-de-privacidad#primero">Antes de empezar</a></li>
                        <li class="text-primary"><a href="politicas-de-privacidad#definiciones">Definiciones</a></li>
                        <li class="text-primary"><a href="politicas-de-privacidad#clausulas">Cláusulas</a></li>

                        <ol class="pl-4 sidebar">
                            <li class=""><a class="py-1 my-1 hover:text-primary block"
                                href="politicas-de-privacidad#proteccion-de-datos">Protección de datos</a></li>
                            <li class=""><a class="py-1 my-1 hover:text-primary block"
                                    href="politicas-de-privacidad#informacion-recopilada">Información recopilada</a></li>
                            <li class=""><a class="py-1 my-1 hover:text-primary block"
                                    href="politicas-de-privacidad#uso-de-informacion">Uso de la información</a></li>
                            <li class=""><a class="py-1 my-1 hover:text-primary block"
                                    href="politicas-de-privacidad#almacenamiento">Almacenamiento de la información</a></li>
                            <li class=""><a class="py-1 my-1 hover:text-primary block"
                                    href="politicas-de-privacidad#contacto">Contacto</a></li>
                        </ol>
                    </ul>

                </nav>

            </div> 


            <section class="flex-1">
                <h1 class="text-6xl  font-extrabold mb-5">Políticas de privacidad</h1>

                <section class="mb-4 section-privacy  text-900">
                    <h4 id="primero" class="text-2xl mb-3 text-primary font-bold">ANTES DE EMPEZAR</h4>

                    <p class="my-2">El siguiente contenido expone la Política de Privacidad en relación al sitio web
                        delitienda.app gestionado comercialmente y unicamente por el grupo DELI. Si necesitas consultar
                        acerca de tu privacidad al usar el Sitio o deseas ejercer tus derechos de acceso, rectificación,
                        actualización o eliminación de la Información Personal, por favor, no dudes en comunicarte con
                        nosotros a través de los <b>siguientes correos electrónicos: </b><a _blank
                            href="mailto:delitienda.soporte@gmail.com"
                            class="text-blue-500">delitienda.soporte@gmail.com</a> </p>

                    <p class="my-2">DELI con exclusivo y absoluto criterio, puede modificar estos Legales y
                        cualquiera de sus políticas incorporadas, en cualquier momento y sin previo aviso, estando
                        vigentes inmediatamente después de la publicación en este sitio web.</p>
                    <p class="my-2">
                        El uso de los servicios ofrecidos por DELI presupone la aceptación de estas Políticas de
                        Privacidad.</p>

                    <p class="my-2">DELI usa y protege la información que es proporcionada por sus usuarios al momento
                        de utilizar su sitio web. Cuando le pedimos llenar los campos de información personal con la
                        cual usted pueda ser identificado, lo hacemos asegurando que sólo se empleará de acuerdo con los
                        términos de este documento. Sin embargo esta Política de Privacidad puede cambiar con el tiempo
                        o ser actualizada por lo que le recomendamos y enfatizamos revisar continuamente esta página para asegurarse que está de acuerdo con dichos cambios.</p>
                </section>

                <section class="mb-4 section-privacy  text-900">
                    <h4 id="clausulas" class="text-2xl mb-3 text-primary font-bold">CLÁUSULAS</h4>
                    <ol class=" flex flex-column gap-6">


                        <li id="proteccion-de-datos">
                            <h6 class="font-bold inline-block text-base mb-2 text-xl">Protección de datos</h6>

                            <ol class="pl-4 flex flex-column gap-3">
                                <li>
                                     Al ingresar sus datos de Usuario, usted. otorga su confianza en DELITIENDA. Por ese motivo DELITIENDA se compromete a respetar y proteger la información de toda aquella persona que utilice la Plataforma/Sitio web.
                                </li>

                                <li>Para prevenir el acceso no autorizado, mantener la integridad de los datos suministrados, asegurando la confidencialidad y el uso correcto de su Información Personal, DELITIENDA implementa medios físicos, electrónicos, tecnológicos, administrativos y procedimentales en materia de seguridad para resguardar y asegurar la Información Personal recopilada. DELITIENDA resguarda la Información Personal de acuerdo a estándares y procedimientos de seguridad establecidos. DELITIENDA asegura que los procesos internos propios de las bases de datos cumplen con las obligaciones legales de seguridad y confidencialidad impuestas por las leyes de privacidad y protección de datos personales. </li>

                                <li>El Usuario reconoce que los medios técnicos existentes que brindan seguridad no son infalibles o inexpugnables y que aun cuando DELITIENDA adopta todas las medidas razonables a su alcance en materia de seguridad es posible sufrir modificación, destrucción y/o pérdida total de información. De suceder algún caso de los mencionados, DELITIENDA actuara de inmediato para restablecer los datos de ser posible. </li>


                                <li>DELITIENDA cooperará con las autoridades cuando éstas requieran formalmente cualquier información relacionada con nuestras bases de datos.</li>
                            </ol>
                           
                        </li>

                        <li>
                            <h6 class="font-bold inline-block text-base mb-2 text-xl">Derechos del Usuario.</h6>


                            <ol class="pl-4 flex flex-column gap-3">
                                <li>El Usuario podrá acceder a su información de usuario, revisar, modificar, eliminar y actualizar su Información Personal en el momento que lo desee.</li>

                                <li>Si el Usuario desea suprimir toda información relacionada a su persona y/o comercio de nuestra plataforma, deberá eliminar su cuenta permanentemente desde su panel.</li>
                            </ol>

                          
                        </li>




                        <li class="" id="informacion-recopilada">
                            <h6 class="font-bold inline-block text-base mb-2 text-xl">Información que es recopilada</h6>
                            <p class="mb-2">
                                DELITIENDA no recopilará a través del Sitio información de ninguna clase sobre el Usuario que permita identificarlo de forma personal, a menos que el Usuario la brinde de forma consciente, libre y voluntaria.
                            </p>
                            <ol class="pl-4 flex flex-column gap-3">
                                <li class="sublist"> 
                                    <b>CLIENTE: </b>Cuando compras en DELITIENDA la plataforma podrá recoger información personal como: Nombre, Numero de teléfono, Ubicación (dirección, condenadas). Todos los datos se guardaran unicamente en tu dispositivo (computadora, celular, tablet), <b>no en nuestra plataforma, servidores o  bases de datos</b> cuando sea necesario se requerirá información específica para procesar algún pedido o realizar una entrega o facturación que el cliente brindara conscientemente completando el formulario.
                                </li>

                                <li class="sublist" ><b>USUARIO:</b>Si eres usuario de DELITIENDA, tu información Personal y Comercial recopilada como: Nombre, Numero de teléfono, Ubicación (dirección, condenadas), nombre de tu tienda, titular.</li>
                            
                                <li class="sublist">Las presentes Política de Privacidad junto con los “TYC”, y documentos
                                    complementarios constituyen la totalidad del acuerdo entre Ud. y DELI respecto del
                                    uso del Sitio y la Plataforma.</li>
                            </ol>

                        </li>

                        <li class="" id="uso-de-informacion">
                            <h6 class="font-bold inline-block text-base mb-2 text-xl">Uso de la información recopilada
                            </h6>
                            <ol class="pl-4 flex flex-column gap-4 ">
                                <li class="sublist">
                                    Nuestro sitio web emplea la información con el fin de proporcionar el mejor servicio posible, particularmente para mantener un registro de usuarios, de pedidos en caso que aplique, y mejorar nuestros productos y servicios.
                                </li>

                                <li class="sublist">La información brindada por los clientes se utilizara para el funcionamiento de los servicios proporcionados por DELITIENDA entre los clientes y las respectivas tiendas disponibles en la plataforma</li>

                                <li class="sublist">
                                   Cuando usted proporciona su Información Personal o Comercial, el Usuario otorga su consentimiento para que esta Información Personal y/o Comercial sea utilizada conforme a las finalidades mencionadas anteriormente y autoriza su tratamiento, almacenamiento y recopilación en las bases de datos propiedad de DELITIENDA.
                                </li>

                            </ol>


                        </li>
                        <li class="" id="almacenamiento">
                            <h6 class="font-bold inline-block text-base mb-2 text-xl">Almacenamiento de la información
                            </h6>
                                <p>Los Datos Personales y/o comerciales otorgados por el Usuario se almacenan en servidores en la nube proporcionados por FL0 (servicio de ingeniería para aplicaciones).</p>
                        </li>


                        <li id="cookies">
                            <h6 class="font-bold inline-block text-base mb-2 text-xl">Cookies.</h6>
                            <p>Al ingresar en el Sitio Web, DELITIENDA puede guardar alguna información en su dispositivo bajo la forma de “Cookie” o archivo similar que puede ser de utilidad. El Usuario puede, a través de su explorador de internet, borrar las Cookies de la memoria de su dispositivo
                            </p>
                           
                        </li>

                        <li id="contacto">
                            <h6 class="font-bold inline-block text-base mb-2 text-xl">Contacto.</h6>
                            <p>Todas las comunicaciones relativas a la utilización de DELI deberán remitirse utilizando los <b>siguientes correos electrónicos:</b> <a _blank
                                href="mailto:delitienda.soporte@gmail.com"
                                class="text-blue-500">delitienda.soporte@gmail.com</a> </p>
                        </li>

                        <li id="ley-aplicable">
                            <h6 class="font-bold inline-block text-base mb-2 text-xl">Ley aplicable.</h6>
                            <p>
                                Esta Política de Privacidad y Protección de Datos Personales se rige exclusivamente por la ley de la República Argentina.
                            </p>
                        </li>
                        
                    </ol>

                </section>

            </section>
        </div>
    </div>


    <div class="footer h-15rem"></div>
</section>