<div class="w-full z-1 h-full fadein d-flex " >
    <div class="d-flex container-alert-closed h-full w-full px-2 py-3 border-round-2xl relative cursor-pointer"
        [style.background]="theme.get(feature?.background!) + 'eb'"
        mat-ripple>

        <div class="w-full d-flex justify-content-between gap-3 z-2 relative">
            <span class="text-2xl pl-1">
                {{feature?.emoji}}
            </span>
            
            <p class="font-semibold flex flex-column text-white text-center">
                {{feature?.title}}
                <span class="font-normal text-sm">
                    {{feature?.subtitle}}
                </span>
            </p>

            <div class="flex">
                <i class="pi pi-chevron-right text-white text-xl" ></i>
            </div> 

        </div>

        <div class="absolute decorator-circle " [style.background]="theme.get(feature?.background!)">

        </div>

    </div>

</div>