
<div *ngIf="themeLoaded else loader" class="container">
    
    <div class="content">

        
        <app-newselter-box *ngIf="!appInstalled"></app-newselter-box>
        
        <section class="categories">

            <h2 class="title-categories">Categorias</h2>
    
            <div class="container-categories" *ngIf="categories">
                <app-card-category *ngFor="let category of categories" [category]="category"> </app-card-category>

                <ng-template #cardCategoryLoader>

                </ng-template>
            </div>
            
        
            

         
        </section>  
        
        <app-preview-category></app-preview-category>
        
        <app-promotions-local>  </app-promotions-local>
        
        
        <app-products-set> </app-products-set>

    </div>



</div>

<ng-template #loader>

 <app-loader-full></app-loader-full>

</ng-template>