.container{

    height: auto;
    width: 100vw;

}

.content{
    max-width: 500px;
    margin: 0 auto;
    padding: 0 15px 60px 15px;
}

.categories{
    padding: 15px 0;
    
    .title-categories{
        margin: 0 0 15px 0;
    }

    .container-categories{
        scroll-snap-type: x mandatory;
        display:flex;
        overflow-x: scroll;
        column-gap: 20px;

        &::-webkit-scrollbar {
            display: none;
        }
    }
    
    .container-show-more{
        text-align: end;
        padding: 5px 0 0 0;
        span{
            color: #525252;
            text-decoration: underline;

        }
    }

}



