
<div *ngIf="categories.length!==0 else loader" [@fadeIn] [style.background]="theme.get('backgroundPage')" class="container">
    
    <div class="content">

        <section class="categories" *ngIf="categories.length!==0">

            <h2 [style.background]="theme.get('backgroundSec')" [style.color]="theme.get('colorTextSecondary')" class="chip title-categories">Categorias</h2>
    
            <div class="container-categories">
                <app-card-category *ngFor="let category of categories" [category]="category"> </app-card-category>
         
            </div>
            
        
            

         
        </section>  

        <app-preview-category></app-preview-category>

        <app-promotions-local>  </app-promotions-local>
    
        <app-products-set> </app-products-set>

        <app-newselter-box *ngIf="!appInstalled"></app-newselter-box>

    </div>



</div>

<ng-template #loader>

 <app-loader-full></app-loader-full>

</ng-template>