.container{


}

.content{
    width: 100vw;
    max-width: 500px;
    margin: 0 auto;
    padding: 0 15px 60px 15px;
}

.categories{

    margin: 20px 0;

    .container-categories{
        display:flex;
        padding:0 0 15px 0;
        gap: 20px;
        overflow-x: scroll;
        

    }
    
    .container-show-more{
        text-align: end;
        padding: 5px 0 0 0;
        span{
            color: #525252;
            text-decoration: underline;

        }
    }

}

