<div class="card container-orders flex flex-column">
    <div class="d-flex gap-4 mb-3 justify-content-between wrap">

        <div class="d-flex gap-5 flex-1 justify-content-between">
            <h1 class="">Pedidos</h1>


            <div class="d-flex gap-2 mr-2"  >
                <span class="font-semibold">
                    Fast mode
                </span>
                <mat-slide-toggle [checked]="mode === 1" (change)="changeMode()">
                </mat-slide-toggle>
            </div>

        </div>


        <button mat-raised-button color="primary" (click)="modalSetFields()">
            Formulario de compra
        </button>


    </div>



    <app-list-orders *ngIf="!(orderService.getMode() | async); else fastMode"></app-list-orders>

    <ng-template #fastMode>
        <app-fast-mode></app-fast-mode>
    </ng-template>

</div>