<div class="card">
    <div class="d-flex justify-content-between gap-3 flex-column md:flex-row">
        <div class="flex-1">
            <h1>Grupos de opciones</h1>
            <p>Aqui encontraras las opciones y adicionales que tus clientes podran elejir en los productos que tengan
                asociado el grupo de opciones </p>

                <span *ngIf="!groupOptions.length" class="mt-2 d-flex gap-2 text-gray-700 ">
                    <i class="pi pi-info-circle text-sm"></i> 
                    Puedes crear un nuevo grupo haciendo click en el boton Crear grupo
                </span>
        </div>


        <div class="button-create-group w-full md:w-fit">
            <p-button (click)="modalCreateGroup()">Crear grupo</p-button>
        </div>
    </div>

    <div class="container-dinamic relative" *ngIf="groupOptions.length">
        <div class="container-state sticky top-0">
            <div class="d-flex justify-content-center sm:justify-content-between ">
                <span>Grupo</span>

                <span class="d-flex gap-1 hidden sm:flex">
                    <i class="pi pi-circle-fill text-sm" [style.color]="'green'"></i>
                    Opciones disponibles
                </span>
            </div>

        </div>

        <div class="container-list-options">
            <div cdkDropList class="group-options-list" (cdkDropListDropped)="drop($event)">
                <div class="" *ngFor="let group of groupOptions; index as indexGroup" cdkDrag>

                    <div class="option-box">
                        <div class="name-option space-option ">
                            <div class="d-flex gap-2">
                                <div cdkDragHandle class="drag-handle d-flex">
                                    <i class="pi pi-ellipsis-v"></i>
                                    <i class="pi pi-ellipsis-v" style="margin-left: -9px;"></i>
                                </div>
    
                                <div class="type-price space-option">
                                    <h3 class="d-inline">
                                        {{group.nameVariation}}
                                    </h3>
                                    <span> | {{group.sku}}</span>
                                    
                                    <p [ngSwitch]="group.typePrice">
                                        <font *ngSwitchCase="1">Determina el precio final</font>
                                        <font *ngSwitchCase="2">Incrementa el precio final</font>
                                        <font *ngSwitchCase="3">Sin Costo</font>
                                    </p>
    
                                    <p [ngSwitch]="group.multiple">
                                        <font *ngSwitchCase="true">Multiples respuestas({{!group.min && !group.max ? 'sin limite' : 'min: ' + group.min + ' | max: ' + group.max}})</font>
                                        <font *ngSwitchCase="false">Respuestas(1<span *ngIf="(group.min === 1 && group.max === 1) || group.typePrice === 1 || group.required">, requerido</span>)</font>
                                    </p>
                                </div>
                            </div>



                            <div class="d-flex">
                                <button (click)="toogleGroup(group)" type="button" class="mr-2">
                                    <i matRipple class="text-xl pi button-toogle-acordeon"
                                        [ngClass]="isAccordionExpanded(group) ? 'pi-chevron-up' : 'pi-chevron-down'"></i>
                                </button>
    
                                <!-- <button>
                                    <i matRipple (click)="group.editing = true" class="text-xl fa-solid fa-pen button-toogle-acordeon"></i>
                                </button> -->
                            </div>


                        </div>

                        <div class="options-available">
                            <p>{{getOptions(group.options)}}</p>
                        </div>



                    </div>

                    <div class="container-acordeon" [class.expanded]="isAccordionExpanded(group)">

                        <div *ngFor="let option of group.options; index as i" class="input-options-group">

                            <div class="check-option-group" [class.with-price]="group.typePrice !== 3">
                                <mat-checkbox [checked]="option.active" (click)="toogleOption(option)"
                                    [id]="option.nameOption" [disabled]="!isAccordionExpanded(group)" color="primary">
                                    {{option.nameOption}}</mat-checkbox>
                            </div>

                            <mat-form-field *ngIf="group.typePrice !== 3" appearance="outline">
                                <mat-label>Precio</mat-label>
                                <span matTextPrefix>$&nbsp;</span>
                                <input [disabled]="!option.active!"
                                    matInput type="number" class="input-price-option" [(ngModel)]="option.price"
                                    [value]="option.price">
                            </mat-form-field>


                        </div>

                        <div class="d-flex gap-2">
                            <button mat-raised-button color="primary" (click)="updateGroupOption(group)">Actualizar</button>
                            <button mat-button color="warn" class="" (click)="deleteGroupOption(group, indexGroup)" >Eliminar grupo</button>
                        </div>
                    
                    </div>

                </div>
            </div>

        </div>

    </div>



</div>

<app-add-group-option *ngIf="activeCreateGroup" (closeForm)="closeModalCreateGroup()"></app-add-group-option>