.products-category{

    padding: 15px 0;

    
}
.title-category{
 
    margin: 0 auto 15px auto;
}

.container-products{

}

.container-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    gap: 10px ;
    
}
