@use "../../../../mixin.scss" as m;

.pad-x{
  padding: 0 10px;
}

.container-products-by-cat {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;

  @include m.tablet {
    grid-template-columns: repeat(3, 1fr);
  }
}

.panel-sort{
  bottom: -80px;
  right: 10px;
  border-radius: 6px;
  min-width: 120px;
}

.title-category {
}

.container-products {
}

.container-flex {
}
