.content{
    padding: 0;
    position: relative;
}

.landing{
    padding: 0 12px;
}

.logo-landing{
    position: absolute;
    top: 15px;
    left: 15px;
    width: 60px;
}

.dots{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    margin-top: 20px;
    .dot{

        width: 10px;
        height: 10px;
        border-radius: 5px;
        background: #373737;


        &.dot-active{
            background: #5551ff;
        }
    }
}