<div class="checkout">
  <h2>Checkout</h2>

  <form [formGroup]="form" (submit)="preLeave()" class="checkout-form" >

    <mat-form-field class="input-group" color="primary">
      <mat-label>Nombre Completo</mat-label>
      <input type="text" matInput formControlName="name"/>
      <mat-error>{{setErrorsMessage('name')}}</mat-error>

    </mat-form-field>


    <mat-form-field class="input-group" appearance="fill">
      <mat-label>Metodo de envio</mat-label>
      <mat-select formControlName="shippingMethod">
        <mat-option value="Delivery">
          Delivery
        </mat-option>
        <mat-option value="Local">
          Buscar en el local
        </mat-option>
      </mat-select>

      <p class="alert-form" *ngIf="this.form.controls['shippingMethod'].value === 'Delivery'" [style.color]="theme.get('background')">
          El costo del envio puede variar dependiendo la zona, le indicaremos el monto atravez de Whatsapp
      </p>

      <mat-error>{{setErrorsMessage('shippingMethod')}}</mat-error>


  </mat-form-field>


    <mat-form-field *ngIf="form.controls['shippingMethod'].value === 'Delivery' " class="input-group" color="primary">
      <mat-label>Direccion</mat-label>
      <input type="text" matInput formControlName="direction"/>
      <mat-error>{{setErrorsMessage('direction')}}</mat-error>
    </mat-form-field>

    <mat-form-field *ngIf="form.controls['shippingMethod'].value === 'Delivery' "  class="input-group">
        <mat-label>Referencia de la casa (opcional)</mat-label>
        <textarea formControlName="reference" matInput placeholder="Ej. Casa color rojo, porton de madera"></textarea>
    </mat-form-field>

    <mat-form-field class="input-group" appearance="fill">
        <mat-label>Forma de pago</mat-label>
        <mat-select formControlName="payMethod">
          <mat-option value="Efectivo">
            Efectivo
          </mat-option>
          <mat-option value="Transferencia">
            Transferencia
          </mat-option>
        </mat-select>

        <p class="alert-form" *ngIf="this.form.controls['payMethod'].value === 'Transferencia'" [style.color]="theme.get('background')">
            Le indicaremos el destino de la transferencia una vez realizado el pedido
        </p>
        
        <mat-error>{{setErrorsMessage('payMethod')}}</mat-error>
    </mat-form-field>

    <mat-form-field *ngIf="this.form.controls['payMethod'].value === 'Efectivo' && this.form.controls['shippingMethod'].value === 'Delivery'" class="input-group" color="primary">
        <mat-label>Con cuanto abona (opcional)</mat-label>
        <input type="number"  matInput formControlName="amountReceived"/>
        <span matTextPrefix>$&nbsp;</span>
        <span matTextSuffix>.00</span>
    </mat-form-field>


    <div class="container-details">
      <p class="details-checkout subtotal"><b>Subtotal:</b> <span>{{subtotal|currency}}</span> </p>
      <p *ngIf="this.form.controls['shippingMethod'].value === 'Delivery'" class="details-checkout "><b>Envio:</b> 
      
      <i #tooltip="matTooltip" matTooltip="El costo del envio puede variar dependiendo la zona, le indicaremos el monto atravez de Whatsapp" matTooltipPosition="above" matTooltipTouchGestures="on" TooltipVisibility="initial" (click)="tooltip.show()" [style.color]="theme.get('background')" class="pi pi-info-circle"></i> </p>

    </div>



    <button [style.background]="theme.get('background')" [style.color]="theme.get('colorTextSecondary')" type="submit">
      Enviar
    </button>
  </form>


</div>
