<div class="checkout">
  <h2>Checkout</h2>

  <form [formGroup]="form" (submit)="preLeave()" class="checkout-form" >

    <mat-form-field class="input-group" color="primary">
      <mat-label>Nombre Completo</mat-label>
      <input type="text" matInput formControlName="name"/>

    </mat-form-field>


    <mat-form-field class="input-group" appearance="fill">
      <mat-label>Metodo de envio</mat-label>
      <mat-select formControlName="shippingMethod">
        <mat-option value="delivery">
          Delivery
        </mat-option>
        <mat-option value="local">
          Buscar en el local
        </mat-option>
      </mat-select>

      <p class="alert-form" *ngIf="this.form.controls['shippingMethod'].value === 'delivery'" [style.color]="theme.get('background')">
          El costo del envio puede variar dependiendo la zona, le indicaremos el monto atravez de Whatsapp
      </p>

  </mat-form-field>


    <mat-form-field *ngIf="form.controls['shippingMethod'].value === 'delivery' " class="input-group" color="primary">
        <mat-label>Direccion</mat-label>
        <input type="text" matInput formControlName="direction"/>
    </mat-form-field>

    <mat-form-field *ngIf="form.controls['shippingMethod'].value === 'delivery' "  class="input-group">
        <mat-label>Referencia de la casa (opcional)</mat-label>
        <textarea formControlName="reference" matInput placeholder="Ej. Casa color rojo, porton de madera"></textarea>
    </mat-form-field>

    <mat-form-field class="input-group" appearance="fill">
        <mat-label>Forma de pago</mat-label>
        <mat-select formControlName="payMethod">
          <mat-option value="efectivo">
            Efectivo
          </mat-option>
          <mat-option value="transferencia">
            Transferencia
          </mat-option>
        </mat-select>

        <p class="alert-form" *ngIf="this.form.controls['payMethod'].value === 'transferencia'" [style.color]="theme.get('background')">
            Le indicaremos el destino de la transferencia una vez realizado el pedido
        </p>
    </mat-form-field>

    <mat-form-field *ngIf="this.form.controls['payMethod'].value === 'efectivo' && this.form.controls['shippingMethod'].value === 'delivery'" class="input-group" color="primary">
        <mat-label>Con cuanto abona</mat-label>
        <input type="number"  matInput formControlName="amountReceived"/>
        <span matTextPrefix>$&nbsp;</span>
        <span matTextSuffix>.00</span>
    </mat-form-field>




    <p>Subtotal: <b>{{subtotal|currency}}</b> </p>

    <button [style.background]="theme.get('background')" [style.color]="theme.get('colorTextSecondary')" type="submit">
      Enviar
    </button>
  </form>


</div>
