.checkout {
  width: 100%;
  // row-gap: 10px;
  display: grid;
  grid-template-rows: auto 1fr min-content;
  min-height: 100%;
  max-height: 100%;
}

.suggestions {
  border: 1px solid #0000006b;
  background: #0f0f0f;
  color: #f1f1f1;
}

.display-map {
  z-index: 9999999999999999999;
}

.checkout-form {
  max-width: 500px;
  margin: auto;
  padding: 20px;
  border-radius: 5px;
}

.input-group {
  width: 100%;
}

.alert-form {
  font-size: 12px;
  line-height: 18px;
}

.input-select {
}

.container-details {
  position: relative;
  padding: 2px 7px;

  &::before {
    position: absolute;
    content: "";
    width: 5px;
    height: 100%;
    background: rgb(51, 191, 51);
    border-radius: 5px;
    top: 0;
    left: 0;
  }
}

.details-checkout {
  width: 100%;
  margin-bottom: 5px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  i {
    font-size: 20px;
  }
}

.error-checkout {
  color: #f44336;
  font-family: "Roboto", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  font-size: 12px;
}

.box-select {
  height: 63px;
  display: grid;
  place-items: center;
}

.error-icon {
  color: #f44336;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
}
