<!-- CONFIG -->
<app-app-config></app-app-config>

<div [class.main-container]="false">

    <div class="flex flex-column h-screen">

        <app-header *ngIf="themeLoad && stateLayout.state.header"></app-header>

        <div class=" " [ngClass]="stateLayout.state.header && themeLoad ? ['overflow-y-auto', 'h-full'] : '' " [@routeAnimations]="getRouteAnimationData()">
            <router-outlet></router-outlet>
        </div>
        

        <app-navigation *ngIf="themeLoad" [@fadeIn]></app-navigation>
        
    </div>

</div>

