.phone-mockup{
    bottom: -20px;
    right: -20px;
}

.title-qr{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    word-break: keep-all;
    white-space: nowrap;
}

.list-qr{


}

.image-mockup{
    filter:drop-shadow(-8px -3px 20px rgba(0, 0, 0, 0.55))
}