<div class="container-topbar">
    <div class="layout-topbar" id="header-admin">
        <a class="layout-topbar-logo" routerLink="">
            <img src="assets\logos\logo-de.png" width="70px" alt="logo">
        </a>
    
        <button #menubutton class="p-link layout-menu-button layout-topbar-button" (click)="layoutService.onMenuToggle()">
            <i class="pi pi-bars"></i>
        </button>
    
    
        <div #topbarmenu class="layout-topbar-menu d-flex" [ngClass]="{'layout-topbar-menu-mobile-active': layoutService.state.profileSidebarVisible}">
      
            <div class="p-3 d-flex state-local mr-4 hidden md:flex" *ngIf="adminService.local$ | async as local">
                {{localService.islocalOpen(local.schedules) ? 'Tienda abierta' : 'Tienda cerrada' }}
                <i [ngClass]="localService.islocalOpen(local.schedules)? ['text-green-500', 'fa-shop'] : ['text-red-500', 'fa-shop-slash']" class="fa-solid ml-2"></i>
                
            </div>

            <div class="session relative">

                <button (blur)="onBlurPanel()" (click)="panelSession = !panelSession" class="btn-session py-2 px-4 border-round border-1 border-800">
                    <div class="d-flex text-800 hover:text-900 cursor-pointer" *ngIf="adminService.local$ | async as local">
                        <span>{{local.name_url}}</span>

                        <i class="pi pi-sign-out ml-3 hidden md:block"></i>

                        <i [ngClass]="localService.islocalOpen(local.schedules)? ['text-green-500'] : ['text-red-500']" class="pi pi-circle-fill ml-2 md:hidden"></i>
                    </div>
                </button>

                <div [@fadeIn] *ngIf="panelSession" class="border-1 border-800 border-top-none panel-session absolute w-full text-800" >
                    <ul>
                        <li class="pb-2 pt-3 pl-4 d-flex hover:text-900 cursor-pointer">
                            Ver tienda
                            <i class=""></i>
                        </li>

                        <li class="py-2 pl-4 d-flex hover:text-900 cursor-pointer">
                            Cerrar Session
                            <i class=""></i>
                        </li>

                        <li class="py-2 pl-4 d-flex hover:text-900 cursor-pointer">
                            Pagos
                            <i class=""></i>
                        </li>
                    </ul>


                </div>
            </div>
        </div>
    </div>

</div>