<div class="container-topbar">
    <div class="layout-topbar" id="header-admin">

        <button #menubutton class="p-link mr-3 layout-menu-button layout-topbar-button" (click)="layoutService.onMenuToggle()">
            <i class="pi pi-bars"></i>
        </button>
        
        <a class="layout-topbar-logo" routerLink="">
            <img src="assets\logos\logo-de.png" width="70px" alt="logo">
        </a>
    
        
        <div #topbarmenu class="layout-topbar-menu d-flex" [ngClass]="{'layout-topbar-menu-mobile-active': layoutService.state.profileSidebarVisible}">
      
            <div class="p-3 d-flex state-local mr-4 hidden md:flex" *ngIf="adminService.local$ | async as local">
                {{localService.islocalOpen(local.schedules) ? 'Tienda abierta' : 'Tienda cerrada' }}
                <i [ngClass]="localService.islocalOpen(local.schedules)? ['text-green-500', 'fa-shop'] : ['text-red-500', 'fa-shop-slash']" class="fa-solid ml-2"></i>
                
            </div>

            <div  class="session relative z-10" (mouseenter)="panelSession = true" (mouseleave)="panelSession = false">

                <button class="btn-session py-2 px-4 border-round border-1 border-800 cursor-pointer">
                    
                    <div class="d-flex text-800 hover:text-900" *ngIf="adminService.local$ | async as local">
                        <span>{{local.name_url}}</span>

                        <i class="pi pi-chevron-down ml-2 hidden md:block"></i>

                        <i [ngClass]="localService.islocalOpen(local.schedules)? ['text-green-500'] : ['text-red-500']" class="pi pi-circle-fill ml-2 md:hidden"></i>
                    </div>
                </button>

                <div  [@fadeIn] *ngIf="panelSession" class="border-1 border-800 border-top-none panel-session absolute w-full text-800" >
                    <ul>

                        <li class="pb-2 pt-3 px-4 d-flex justify-content-between">
                            <button class="cursor-pointer hover:text-primary text-nowrap" (click)="watchStore()">
                                Ver Tienda
                            </button>
                        </li>

                        <li class="py-2 px-4 d-flex justify-content-between cursor-pointer">
                            <button class="cursor-pointer hover:text-primary text-nowrap" (click)="logOut()">
                                Cerrar Session
                            </button>
                        </li>

                        <li class="py-2 px-4 d-flex justify-content-between hover:text-primary cursor-pointer">
                            <a class="font-semibold text-nowrap" [routerLink]="['payments']">Plan</a>
                            <i class="pi pi-credit-card ml-2"></i>
                        </li>
                    </ul>


                </div>

            </div>
        </div>
    </div>

</div>
