<div class="container-dashboard-list">
    <div class="list">
 
        <p-accordion [activeIndex]="activeIndex" >
    
            <p-accordionTab class="acordeon-categories" [iconPos]="'end'" >
    
                <ng-template pTemplate="header">
                    
                    <div class="d-flex container-title-seccion" [class.active]="currentSection === 'products' ">
                        <i class="fa-solid fa-layer-group mr-2"></i>
                        <h4 class="title-seccion">Categorias</h4>
                    </div>
    
                </ng-template>
    
    
                <ng-template pTemplate="content" (click)="currentSection = 'products'">
    
                    <ul>
                        <li matRipple [class.active]="isCatSelected(category)" (click)="emitSelected(category)" class="item-list d-flex" *ngFor="let category of categories">
                            <i class="pi pi-circle-fill mr-2 icon-list" [class.active]="category.active"></i>

                            <div class="d-flex overflow-hidden ">
                                <span class=" text-ellipsis overflow-hidden">
                                    {{category.category_name}}
                                </span>
                                  <span class="ml-2 font-light" [style.text-wrap]="'nowrap'" [ngClass]="isCatSelected(category) ? 'text-black' : 'text-gray' ">| {{getProductsByCat(category)}}</span>
                            </div>
                        </li>

                        <li (click)="newCategory()" matRipple class="item-list d-flex">
                            <i class="pi pi-plus mr-2"></i>
                            Nueva categoria
                        </li>
                    </ul>
    
                </ng-template>
    
            </p-accordionTab>
    
        </p-accordion>
    
    
        <p-accordion [expandIcon]="''" [collapseIcon]="''">

            <p-accordionTab classList="acordeon-groups" (click)="emitSelected({section:'groups'})">
    
                <ng-template pTemplate="header">
                    
                    <div  class="container-title-seccion d-flex" [class.active]="currentSection === 'groups' ">
                        <i class="fa-solid fa-list mr-2"></i>
                        <h4 class="title-seccion" >Grupo de opciones</h4>
                    </div>
                    
                </ng-template>  
    
            </p-accordionTab>
        </p-accordion>


    </div>


</div>