<div class="container-dashboard-list">
    <div class="list">           
 
        <p-accordion [activeIndex]="0" >
    
            <p-accordionTab  class="acordeon-categories" [iconPos]="'end'" >
                    <ng-template  pTemplate="header">
                        
                        <div (click)="dinamicList.section.next('products')" class="d-flex container-title-seccion w-full" >
                            <i class="fa-solid fa-layer-group mx-2"></i>
                            <h4 class="title-seccion" [class.text-primary]="currentSection === 'products' ">Categorías</h4>
                        </div>
        
                    </ng-template>
    
                <ng-template pTemplate="content" (click)="currentSection = 'products'">
    
                    <ul cdkDropList cdkDropListLockAxis="y"  >
                        <li cdkDrag [cdkDragPreviewClass]="['preview-drop', 'shadow-2']" (cdkDragDropped)="handleDragDrop($event)" (cdkDragStarted)="handleStartDrag($event)"  [class.active]="isCatSelected(category)" (click)="emitCategorySelected(category)" class="item-list d-flex justify-content-between" *ngFor="let category of categories">
                            <div class="d-flex">
                                <i class="pi pi-circle-fill mr-2 icon-list" [class.active]="category.active"></i>
    
                                <div class="d-flex overflow-hidden ">
                                    <span class=" text-ellipsis overflow-hidden">
                                        {{category.category_name}}
                                    </span>
                                      <span class="ml-2 font-light" [style.text-wrap]="'nowrap'" [ngClass]="isCatSelected(category) ? 'text-black' : 'text-gray' ">| {{getProductsByCat(category)}}</span>
                                </div>
                            </div>

                            <div cdkDragHandle class="ml-5 drag-handle d-flex cursor-move">
                                <i class="pi pi-ellipsis-v"></i>
                                <i class="pi pi-ellipsis-v" style="margin-left: -9px;"></i>
                            </div>
                        </li>

                        <li class="p-3" *ngIf="!categories.length || !categories">
                            <span class="font-semibold">No tienes categorías en tu tienda</span>
                        </li>
                    </ul>
    
                </ng-template>
    
            </p-accordionTab>
    
        </p-accordion>
    
    </div>

    <p-accordion id="new-category" [expandIcon]="' '" [collapseIcon]="' '" (click)="newCategory()">

        <p-accordionTab classList="acordeon-groups">

            <ng-template pTemplate="header">
                
                <div  class="container-title-seccion d-flex">
                    <i class="pi pi-plus mr-2"></i>
                    <h4 class="title-seccion" >Nueva Categoría</h4>
                </div>
                
            </ng-template>  

        </p-accordionTab>
    </p-accordion>

    <p-accordion id="options-group" [expandIcon]="' '" [collapseIcon]="' '">

        <p-accordionTab classList="acordeon-groups" (click)="dinamicList.section.next('groups')">

            <ng-template pTemplate="header">
                
                <div  class="container-title-seccion d-flex" [class.active]="currentSection === 'groups' ">
                    <i class="fa-solid fa-list mr-2"></i>
                    <h4 class="title-seccion" [class.text-primary]="currentSection === 'groups' " >Grupos de opciones</h4>
                </div>
                
            </ng-template>  

        </p-accordionTab>
    </p-accordion>



</div>