.container-newselter{
    width: 100%;
    height: auto;
    background: #ffffff;  /* fallback for old browsers */
    // background: -webkit-linear-gradient(to bottom, #1e2f40, #1d2334);  /* Chrome 10-25, Safari 5.1-6 */
    // background: linear-gradient(to bottom, #1e2f40, #1d2334); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    position: relative;

    border-radius: 15px;
    padding: 15px;
    box-shadow: 0 2px 20px -3px #4a4a4a;
    overflow: hidden;


    .circle{
      position: absolute;
      border-radius: 50%;
    }

    .circle-1{
      width: 80px;
      height: 80px;
      bottom: 0;
      right: -33px;

    }
    .circle-2{
      width: 40px;
      height: 40px;
      bottom: -17px;
      left: -10px;
    }
    .circle-3{
      width: 45px;
      height: 45px;
      right: 3px;
      top: -15px;
    }
    
    .circle-4{
      width: 45px;
      height: 45px;
      right: 3px;
      bottom: -15px;
    } 
}

.container-text{

    text-align: center;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;



    .title-newselter{
      font-size: 14px;
      z-index: 5;
      color: #1d2334;
    }

    .logo-newselter{
    
    }

    .subtitle{
        
    }



  }
  .arrow-wrapper{

    z-index: 5;
    
    .btn-arrow{

  
    }

    .arrow{
      padding: 5px;
      margin-right: -5px;
      color: white;
      border-radius: 50%;

    }
  }
