
<div class="container-newselter border-round-2xl  lg:hidden" (click)="install()" mat-ripple>
    <div class="container-text">

        <img class="logo-newselter" src="./assets/logos/logo-de.png"  width="50px" alt="">



        <h4 class="title-newselter">
            Descarga nuestra aplicación <br>
            <span style="font-size: 12px;">Explora nuevas funciones y ventajas</span>
        </h4>

        <!-- <p class="subtitle">
            Con la aplicación, tendrás acceso a descuentos especiales y recibirás alertas en tiempo real sobre nuevas promociones. Además, podrás disfrutar de una experiencia de compra más rápida y cómoda desde tu teléfono móvil.
        </p> -->
        <div  class="arrow-wrapper">
            <button class="btn-arrow" >
                <i class="pi-download pi arrow"></i>
            </button>
        </div>

    </div>
        
    <div *ngFor="let circle of [1,2,3,4]; let i" [style.background]="theme.get('background')" class="circle btn-arrow circle-{{i}}"></div>

</div>