
<div class="container-newselter">
    <div class="container-text">

        <p class="title">
                Descarga nuestra aplicación para no perderte nuestras ofertas y promociones exclusivas
        </p>

        <!-- <p class="subtitle">
            Con la aplicación, tendrás acceso a descuentos especiales y recibirás alertas en tiempo real sobrenuevas promociones. Además, podrás disfrutar de una experiencia de compra más rápida y cómoda desde tu teléfono móvil.
        </p> -->

    </div>

    <div class="container-button">

        <button [style.background]="themeService.currentTheme.background">
            Descargar
            <div class="arrow-wrapper">
                <div class="arrow"></div>
        
            </div>
        </button>
        

    </div>
</div>