<div class="w-full h-full z-1 d-flex fadein">
    <div class="container-alert-closed d-flex h-full w-full px-2 py-3 border-round-2xl relative overflow-hidden  cursor-pointer"
        [style.background]="theme.get('backgroundSec') + 'eb'"
        mat-ripple
        (click)="openInfo()"
        *ngIf="showAlert">

        <div class="w-full d-flex justify-content-between gap-3 z-2 relative">
            <span class="text-2xl pl-1">
                😴
            </span>
            
            <p class="font-semibold flex flex-column text-white text-center">
                En este momento estamos cerrado
                <span class="font-normal text-sm">
                    Pulsa para consultar nuestros horarios
                </span>
            </p>

            <div class="flex">
                <i class="pi pi-chevron-right text-white text-xl" ></i>
            </div> 

        </div>

        <div class="absolute decorator-circle " [style.background]="theme.get('backgroundSec')">

        </div>

    </div>

</div>