<footer class="footer-landing pb-5 px-3 relative">

    <!-- <div class="absolute hidden lg:block waves-footer left-0 w-full">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
            <path fill="#f9f6f4" fill-opacity="1"
                d="M0,192L30,202.7C60,213,120,235,180,224C240,213,300,171,360,165.3C420,160,480,192,540,186.7C600,181,660,139,720,154.7C780,171,840,245,900,250.7C960,256,1020,192,1080,170.7C1140,149,1200,171,1260,165.3C1320,160,1380,128,1410,112L1440,96L1440,320L1410,320C1380,320,1320,320,1260,320C1200,320,1140,320,1080,320C1020,320,960,320,900,320C840,320,780,320,720,320C660,320,600,320,540,320C480,320,420,320,360,320C300,320,240,320,180,320C120,320,60,320,30,320L0,320Z">
            </path>
        </svg>
    </div> -->

    <div class="container-landing ">
        <div class="flex flex-column gap-3">

            <div class="logo-footer">
                <img src="./assets/logos/logo-de.png" class="w-6rem" alt="">
            </div>

            <div class="d-flex justify-content-between gap-3 wrap">
                <nav>
                    <ul class="flex flex-column wrap gap-3">
                        <li><a routerLink="/" fragment="como-funciona"
                                class=" p-1 hover:text-primary-300 transition-duration-100 font-semibold text-white">Como
                                funciona</a></li>
                        <li><a routerLink="/" fragment="pricing"
                                class=" p-1 hover:text-primary-300 transition-duration-100 font-semibold text-white">Precios</a>
                        </li>
                        <li><a routerLink="/" fragment="faq"
                                class=" p-1 hover:text-primary-300 transition-duration-100 font-semibold text-white">Preguntas
                                frecuentes</a></li>
                        <li><a routerLink="/terminos-y-condiciones"
                                class=" p-1 hover:text-primary-300 transition-duration-100 font-semibold text-white">Términos
                                y condiciones</a></li>
                        <li><a routerLink="/politicas-de-privacidad"
                                class=" p-1 hover:text-primary-300 transition-duration-100 font-semibold text-white">Política
                                de privacidad</a></li>
                    </ul>
                </nav>

                <div class="my-3">
                    <p class="mb-3 text-2xl font-extrabold text-white">
                        Deja tu email o numero telefónico <br> para que te contactemos
                    </p>

                    <div class="d-flex gap-1 wrap">

                        <input
                            class="px-3 font-semibold roboto flex-1 h-3rem bg-gray-100 border-round"
                            id="email" placeholder="tuemail@ejemplo.com" required="" type="email" />

                            <button mat-ripple class="button bg-sec border-round font-bold h-3rem px-6 text-white">
                                Enviar
                            </button>
                    </div>

                </div>


                <div class="social d-flex gap-3">
                    <a class="" href="https://instagram.com/delitienda_app" target="_blank">
                        <i class="pi-instagram pi text-2xl text-sec"></i>
                    </a>

                    <a class="" href="#">
                        <i class="pi-youtube pi text-3xl text-sec"></i>
                    </a>

                </div>

            </div>

            <div class="copy text-right">

                <span class="font-semibold text-white align-self-end"> <span class="roboto">©</span> DELITIENDA - 2023</span>
            </div>



        </div>


    </div>

</footer>

<div class="whatsapp">
    
</div>