    <div
    *ngIf="category; else loader"
    (click)="emitCategory(category, $event)"
      [style.background-image]="'url(' + category.image + ')'"
      [style.border]="selectedCategory(category.id) ? '2px solid' + theme.get('background') : '2px solid transparent'"
      matRipple
      [matRippleColor]="'#00000012'"
      class="category-card border-round-2xl"
      [ngStyle]="{'background-image':category.image}">
      
      <!-- <img
        class="card-image"
        src="{{ category.image }}"
        alt="category {{ category.image }}"
        /> -->

        <h5 class="card-title"
          [style.background]="selectedCategory(category.id) ? theme.get('background') : '#00000050'"
          [style.color]="selectedCategory(category.id) ? theme.get('colorTextSecondary') : '' "
          >
        {{ category.name }}
      </h5>
      </div>
      

<ng-template #loader>
  <p-skeleton size="100px" borderRadius="30px"></p-skeleton>
</ng-template>

