    <div
    *ngIf="category; else loader"
    (click)="emitCategory(category, $event)"
      [style.background-image]="'url(' + category.image + ')'"
      [style.border-color]="selectedCategory(category.id) ? theme.get('background') : '#000000d1' "
      matRipple
      [matRippleColor]="'#00000012'"
      class="category-card border-round-2xl shadow-3 border-2"
      [ngStyle]="{'background-image':category.image}">

        <h5 class="card-title w-full"
          [style.background]="selectedCategory(category.id) ? theme.get('background') : '#000000d1'"
          [style.color]="selectedCategory(category.id) ? theme.get('colorTextSecondary') : '' "
          >
        {{ category.name }}
      </h5>
        
      </div>
      

<ng-template #loader>
  <p-skeleton size="100px" borderRadius="30px"></p-skeleton>
</ng-template>

 