<div class="container-card" *ngIf="category.id else loader" 
>
  <a (click)="emitCategory(category)">
    <div
      [style.border]="selectedCategory(category.id) ? '2px solid' + theme.get('background') : ''"
      matRipple
      [matRippleColor]="'#00000012'"
      class="category-card"
      [ngStyle]="{'background-image':category.image}">
      
      <!-- <img
        class="card-image"
        src="{{ category.image }}"
        alt="category {{ category.image }}"
        /> -->

        <h5 class="card-title"
          [style.background]="selectedCategory(category.id) ? theme.get('background') : '#00000050'"
          [style.color]="selectedCategory(category.id) ? theme.get('colorTextSecondary') : '' "
          >
        {{ category.name }}
      </h5>
      </div>
      
  </a>
</div>

<ng-template #loader>
  <p-skeleton size="100px" borderRadius="30px"></p-skeleton>
</ng-template>

