<div class="relative w-full bg-none md:bg-white p-4 shadow-5 flex flex-column md:border-round-right-3xl"
    style="height: 100vh;">

     <div class="justify-content-end w-full absolute hidden md:flex" style="top:10px; right: 30px;">
        <a routerLink="/">
            <img src="./assets/logos/logo-de.png" loading="lazy" class="w-5rem" alt="">
        </a>
    </div>


    <div class="d-flex w-full justify-content-center flex-1">
        <div class="p-4 md:p-0 w-12 xl:w-10 bg-white border-round-xl shadow-7 md:shadow-none">

            <a href="" class="relative font-bold z-4" [routerLink]="['/login']">
                <span class="mb-3 d-flex text-sm text-sec cursor-pointer">
                    <i class="pi pi-chevron-left mr-2"></i>
                    Volver
                </span>
            </a>

            <div *ngIf="!emailSended  && !token">

                <h1 class="mb-2 text-3xl font-bold">Restablecer contraseña</h1>
                <p class="text-600 mb-3 block">Para restablecer su contraseña,
                    ingrese la dirección
                    de correo electrónico
                    asociada a tu tienda</p>

                <div class="">
                    <div  [@fadeIn] *ngIf="errorEmail" class="container-errors">
                        {{errorEmail}}
                    </div>
                </div>

                <form [formGroup]="formEmail">

                    <div class="form-group">
                        <div class="input-login-group" [ngClass]="formEmail.get('email')?.invalid && formEmail.get('email')?.touched ? 'invalid' : '' ">
                            <label for="email"><i class="icon-login fa-solid fa-envelope"></i></label>
                            <input type="email" placeholder="Correo electronico" class="input-login"
                                formControlName="email" id="email">
                        </div>

                        <div class="h-1rem">
                            <div [@fadeIn] class="error-form" *ngIf="formEmail.get('email')?.invalid && formEmail.get('email')?.touched">Ingrese su email</div>
                        </div>
                    </div>

                    <button (click)="sendEmail()" [disabled]="formSubmitted" class="submit-btn shadow-3" type="submit">
                        <span *ngIf="!formSubmitted">
                            Enviar enlace de reinicio
                        </span>
                        <i *ngIf="formSubmitted" class="pi pi-spin pi-spinner"></i>
                      </button>

                </form>


            </div>


            <div *ngIf="emailSended && !token">
                <h1 class="mb-2 text-3xl font-bold">Revisa tu correo</h1>

                <div class="flex w-full justify-content-center">
                    <img src="./assets/images/Emails-amico.png" class="w-full max-w-17rem" alt="">
                </div>

                <p class="text-700">¡Listo! Hemos enviado un correo a su dirección de correo electrónico con un enlace
                    para restablecer
                    su contraseña. Por favor, revise su bandeja de entrada.</p>

                <span class="mt-3 block">No recibiste el email?
                    <span (click)="resendEmail()" class="text-primary cursor-pointer underline">Reenviar</span>
                    <span *ngIf="countdown">
                        {{countdownFormatted}}
                    </span>

                </span>

            </div>


            
            <div class="text-center" #alertToken *ngIf="!finishProcess && token && errorToken">
                <h1 class="mb-2">Algo a ocurrido</h1>
                <p class="text-700 mb-3">El enlace que utilizaste no es valido o exprió porfavor realiza el proceso nuevamente</p>
                <a [routerLink]="['/login/reset_password']" class="font-bold text-primary underline hover:no-underline">
                    Volver a intentar 
                </a>
            </div>

            <div *ngIf="token && !finishProcess && !errorToken" class="">
                <h1 class="mb-3 text-3xl font-bold">Restablecer contraseña</h1>

                <div class="">
                    <div  [@fadeIn] *ngIf="errorReset" class="container-errors">
                        {{errorReset}}
                    </div>
                </div>

                <form [formGroup]="formReset">

                    <div class="form-group">
                        <div class="input-login-group" [class.invalid]="formReset.get('password')?.invalid && formReset.get('password')?.touched">
                            <label for=""><i class="icon-login fa-solid fa-lock"></i></label>
                            <input type="password" placeholder="Nueva contraseña" class="input-login" formControlName="password">
                        </div>

                        <div class="h-1rem">
                            <div [@fadeIn] class="error-form" *ngIf="formReset.get('password')?.invalid && formReset.get('password')?.touched">La contraseña debe tener como minimo 8 caracteres</div>
                        </div>

                    </div>

                    <div class="form-group">
                        <div class="input-login-group" [class.invalid]="formReset.get('password')?.value !== formReset.get('confirmPassword')?.value
                        && 
                        formReset.get('confirmPassword')?.touched">
                            <label for=""><i class="icon-login fa-solid fa-lock "></i></label>
                            <input type="password" placeholder="Repita contraseña" class="input-login" formControlName="confirmPassword">
                        </div>

                        <div class="h-1rem">
                            <div [@fadeIn] class="error-form" 
                            *ngIf="formReset.get('password')?.value !== formReset.get('confirmPassword')?.value
                                    && 
                                    formReset.get('confirmPassword')?.touched">
                                Las contraseñas no coinciden
                            </div>
                        </div>

                    </div>

                    <button (click)="saveNewPassword()" [disabled]="formSubmitted" class="submit-btn shadow-3" type="submit">
                        <span *ngIf="!formSubmitted">
                            Guardar contraseña
                        </span>
                        <i *ngIf="formSubmitted" class="pi pi-spin pi-spinner"></i>
                      </button>

                </form>

            </div>


            <div *ngIf="finishProcess" class="text-center">
                <h1 class="mb-2">Contraseña restablecida</h1>

                <p class="text-600 mb-3 block">Ya puede iniciar session con su nueva contraseña.</p>
                <a [routerLink]="['/login']" class="block text-center font-bold text-primary underline hover:no-underline">
                    Finalizar 
                </a>
      
            </div>

        </div>
    </div>

</div>
