<div class="card data-local">
  <div class="mb-3">
    <h3 class="title">Datos del local</h3>
    <p>Configura los datos de tu local, esta informacion sera visible para tus clientes</p>
  </div>

  <button [disabled]="processForm" mat-raised-button color="primary"
    (click)="editing ? saveDataLocal() : editDataLocal()">
    <span class="d-flex gap-2">
      {{editing ? 'Guardar' : 'Editar'}}
      <i *ngIf="processForm" class="pi pi-spinner pi-spin "></i>
      <i *ngIf="!processForm" [ngClass]="editing ? 'fa-solid fa-floppy-disk' :'fa-solid fa-pen-to-square'"></i>
    </span>
  </button>


  <div class="mt-3 container-form-local">
    <form [formGroup]="form">

      <div class="flex justify-content-start wrap gap-3">
        <mat-form-field class="h-fit input-field">
          <mat-label> Nombre </mat-label>
          <input matInput formControlName="name" type="text" />
        </mat-form-field>

        <mat-form-field class="h-fit  input-field">
          <mat-label> Telefono </mat-label>

          <input matInput formControlName="phone" type="number" />
        </mat-form-field>
 
        <mat-form-field class="h-fit input-field">
          <mat-label> Direccion </mat-label>
          <input matInput formControlName="location" type="text" />
        </mat-form-field>


      </div>
        
        
      <div class="w-fit border-1 border-round border-700 p-2 relative" [ngClass]="editing ? '' : 'opacity-70'" >

        <div class="mb-2">
          <h4 class="text-xl text-900">Logo</h4>
          <p *ngIf="!previewImageLocal" class="text-800">Carga tu imagen</p>
        </div>

        <img width="250px" [src]="previewImageLocal ||'./assets/images/placeholder-logo-local.png'" alt="">

        <div class="absolute top-0 left-0 h-full w-full opacity-0">
          <input [disabled]="!editing" type="file" class="h-full w-full cursor-pointer" (change)="uploadImage($event)">
        </div>

        <div *ngIf="previewImageLocal && editing" class="button-remove-image-local">
          <button (click)="removePreviewImage()" color="warn" mat-button>Eliminar imagen</button>
        </div>

      </div>


      
    </form>
  </div>
</div>