@use '../../../../mixin.scss' as m;

.data-local {
  position: relative;
  margin: 0 !important;
}
.title {
  margin-bottom: 10px;
}

.container-form-local {
}

.container-form-field{

  
  @include m.phone{
    .input-field{
        width: 100%;
    }
    
    padding-top:35px ;
  }

}

.edit-btn {
  color: #000000c9;
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
  font-weight: bolder;

  i {
    font-weight: bolder;
  }
}

.aditional-info {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  @media (min-width: 550px) {
  }


}



.container-data-local {
  width: max-content;
  padding: 5px;
  border: 1px solid;
  border-radius: 5px;

  &.disable-form{
    color: grey;
  }

  h4 {
    border-bottom: 1px solid;
    padding-bottom: 2px;
  }


}

.container-horarios {
  .input-horarios {
    width: 46px;
    padding: 3px;
  }

  .icon-horarios{
    font-weight: 800;
  }

}

.list-week {
  padding: 5px 0;

  .title-day {    
    font-size: 14px;
    margin-top: -14px;
    margin-bottom: 3px;
  }

  .pi-sun {
  }

  .pi-moon {
    font-size: 14px;
    margin: 0 1px 0 5px;
  }
}

.alert-local{
  display: flex;
  align-items: center;
  font-size: 10px;
  
    i{
      margin-right: 3px;
      font-size: 13px;
    }

}

.alert-form{
  color: #f44336;
}

.alert-aditionals{
  padding: 2.5px 0;
  color: #6366F1;
}

.container-redes {
  width: 300px;
}

.list-redes {
    padding: 5px 0;

    li{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10px;
    }

    .title-red{
        display: inline-block;
        width: 75px;
    }

    .input-redes{
        width: 60%;
    }
    



}    

.container-delivery-local{
  max-width:250px ;
  min-width:250px ;
}


.container-image-local{
  position: relative;
  min-width: 200px;

  .button-remove-image-local{
    position: absolute;
    top: 41px;
    right: 10px;

  }
}

