@use '../../../../mixin.scss' as m;

$primaryColor: #FF6262;
$alertColor: #f24e1e;
$secondaryColor: #565656;
$blue: #5551ff;

.content {
    padding: 0 15px;

}

.bg-login{
    background:linear-gradient(180deg, rgba(0,0,0,0) 51%, rgba(0,0,0,0.87718837535014) 100%), url('../../../../assets/images/background-login.svg');
    background-position: center;
    background-size: cover;
}

.container-title {
    padding: 15px 15px 30px 15px;
    background: #ededed;
    border-radius: 0 0 15px 15px;


    @include m.tablet {
        background: none;
    }

    .title {
        font-size: 1.8rem;
        font-weight: 900;
        color: $secondaryColor;

        @include m.tablet {
            text-align: center;
            font-size: 2.2rem;
        }
    }

    .subtitle {
        margin-top: 10px;
        font-size: 0.8rem;
        color: #777777;

        @include m.tablet {
            text-align: center;

        }
    }

    .logo-login {
        width: 60px;

        @include m.tablet {
            width: 80px;
        }
    }

    .link-login {
        font-size: 0.8rem;
        color: $blue;
        text-decoration: underline;
        cursor: pointer;
    }
}


.waves {
    position: fixed;
    width: 100%;
    height: 220px;
    bottom: -10px;

    .waves-login {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;

    }
}

.circle {

    width: 300px;
    height: 300px;
    background: $blue;
    border-radius: 50%;
    position: fixed;

    &.circle-1 {
        left: -150px;
        bottom: -150px;
        display: none;

        @include m.tablet {
            display: initial;

        }
    }

    &.circle-2 {
        top: -150px;
        right: -150px;
        // transform: translateY(-50%);

    }


}