<header class="header-landing bg-white mb-3 px-3 lg:px-0 shadow-4">

    <div class="w-full lg:w-9 m-auto d-flex justify-content-between ">
        <div class="menu-icon md:hidden">
            <button class="cursor-pointer " (click)="menuLanding=true">
                <div class="container-bars">
                    <div class="bar-1 bar"></div>
                    <div class="bar-2 bar"></div>
                    <div class="bar-3 bar"></div>
                </div>
            </button>
    
        </div>

        <nav class="hidden md:block">
            <ul  class="d-flex gap-4 text-800 font-semibold">
                <li>
                    <a [class.text-primary]="routeActive==='/'" class="cursor-pointer hover:text-primary transition-duration-200"  routerLink="/">Inicio</a>
                </li>

                <li>
                    <a class="cursor-pointer hover:text-primary transition-duration-200"  routerLink="/login/register">Precios</a>
                </li>

                <li>
                    <a [class.text-primary]="routeActive==='/preguntas-frecuentes'" class="cursor-pointer hover:text-primary transition-duration-200" routerLink="/preguntas-frecuentes">Preguntas frecuentes</a>
                </li>
            </ul>

        </nav>
        <a routerLink="/">
            <img class="logo-landing" src="./assets/logos/logo-de.png" width="50px" alt="">

        </a>



        <div class="gap-3 hidden md:flex justify-content-center">
            <a routerLink="/login/register" class=" px-4 py-3 bg-primary border-round font-semibold text-base hover:shadow-3" mat-ripple>Quiero empezar</a>
           
           
            <a routerLink="/login" class="px-4 py-3 d-flex gap-2 bg-gray-200 border-round font-semibold text-base hover:shadow-3" mat-ripple>
                Acceso
                <i class="pi pi-sign-in mt-1"></i>
            </a>

        </div>
    </div>


</header>


<div *ngIf="menuLanding" [@enterRight] class="overflow-auto pt-4 z-4 w-full md:w-20rem h-full bg-white menu-landing fixed top-0 left-0">

    <div class=" relative p-3 h-full">

        <div class="absolute button-close">
            <button class="cursor-pointer font-bold hover:text-red-300" (click)="menuLanding = false"> <i
                    class="pi pi-times text-3xl"></i></button>
        </div>

        <div class=" h-full flex flex-column justify-content-between">


            <div class="">
                <header>
                    <div class="w-5">
                        <img loading="lazy" src="./assets/logos/logo-de.png" class="h-full w-full object-contain" alt="">
                    </div>

                    <h1 class="text-900">Gracias por su visita</h1>
                </header>


                <ul class="mt-4">
                    
                    <li class="p-2 text-base cursor-pointer hover:text-primary-400 transition-duration-200">
                        <a routerLink="preguntas-frecuentes"> Preguntas frecuentes</a>
                    </li>

                    
                    <li class="p-2 text-base cursor-pointer hover:text-primary-400 transition-duration-200">
                        <a routerLink="politicas-de-privacidad"> Políticas de privacidad</a>
                    </li>


                    <li class="p-2 text-base cursor-pointer hover:text-primary-400 transition-duration-200">
                        <a routerLink="terminos-y-condiciones"> Términos y condiciones</a>
                    </li>
                </ul>
            </div>


            <div class="banner mt-4 w-full p-3 bg-bluegray-600 border-round-xl shadow-2">

                <h2 class="text-white mb-3">Quiero una tienda deli para mi comercio</h2>

                <div class="w-full flex justify-content-end">
                    <a routerLink="login/register" mat-ripple class="p-2 px-3 border-round bg-white hover:text-primary transition-duration-200">
                        Comenzar ahora
                    </a>
                </div>

            </div>



            <div class="mt-2 w-full">
                <a mat-ripple routerLink="/admin" class="w-full block text-center p-3 font-bold roboto bg-primary border-round shadow-2">
                    Acceso clientes
                </a>
            </div>

        </div>


    </div>

    
</div>

<div [@fadeIn] *ngIf="menuLanding"  (click)="menuLanding = false"
    class="overlay fadein fixed z-1 top-0 left-0 w-full h-full bg-black-alpha-30">
</div>
