<header class="header-landing w-full bg-white px-3 z-5" [class.shadow-3]="fixedHeader">

    <div class="w-full content-header  m-auto d-flex justify-content-between ">
        <div class="menu-icon md:w-25rem" [ngClass]="routeActive !== '/recientes' && routeActive !== '/history' ? 'lg:hidden' : ''" >
            <button class="cursor-pointer " (click)="toogleMenuLanding()">
                <div class="container-bars cursor-pointer">
                    <div class="bar-1 bar"></div>
                    <div class="bar-2 bar"></div>
                    <div class="bar-3 bar"></div>
                </div>
            </button>
    
        </div>

        <nav class="hidden lg:block" *ngIf="routeActive !== '/recientes' && routeActive !== '/history'">
            <ul  class="d-flex gap-4 text-800 ">
                <li>
                    <a [class.text-primary]="routeActive==='/'" class="text-nowrap cursor-pointer hover:text-primary transition-duration-200" routerLink="/" fragment="como-funciona">¿Como funciona?</a>
                </li>

                <li>
                    <a class="text-nowrap cursor-pointer hover:text-primary transition-duration-200"  routerLink="/" fragment="pricing">Precios</a>
                </li>

                
                <li>
                    <a [class.text-primary]="routeActive==='/preguntas-frecuentes'" class="text-nowrap cursor-pointer hover:text-primary transition-duration-200" routerLink="/" fragment="faq">Preguntas frecuentes</a>
                </li>
                
                <li>
                    <a class="text-nowrap cursor-pointer hover:text-primary transition-duration-200" routerLink="recientes">Mis recientes</a>
                </li>
            </ul>

        </nav>
 
        <a routerLink="/">
            <img loading="lazy" class="logo-landing" src="./assets/logos/logo-deli.png" alt="">
        </a>

        <div class="gap-3 flex align-items-center justify-content-end md:w-25rem">
            <a routerLink="/register" class="hidden md:block px-4 py-2 md:py-3 bg-primary border-round text-base hover:shadow-3 text-nowrap border-1 border-primary" mat-ripple>Comenzar ahora</a>
           
            <a (click)="signIn()" class="cursor-pointer px-4 py-2 md:py-3 d-flex gap-2 border-round text-base shadow-2 hover:shadow-3 border-1" mat-ripple>
                Acceso 
                <!-- <i class="pi pi-sign-in mt-1"></i> -->
            </a>

        </div>
    </div>


</header>

<div class="h-screen w-screen fixed top-0 left-0 z-5 bg-black-alpha-20" *ngIf="loader">
    <app-loader-full></app-loader-full>
</div>

<div *ngIf="menuLanding" [@enterRight] class="overflow-auto pt-4 menu-side w-15rem md:w-20rem h-full bg-white menu-landing fixed top-0 left-0">

    <div class=" relative p-3 h-full">

        <div class="absolute button-close">
            <button class="cursor-pointer font-bold hover:text-red-300" (click)="toogleMenuLanding()"> <i
                    class="pi pi-times text-3xl"></i></button>
        </div>

        <div class=" h-full flex flex-column justify-content-between">


            <div class="">
                <header>
                    <div class="w-5">
                        <img loading="lazy" src="./assets/logos/logo-de.png" class="h-full w-full object-contain" alt="">
                    </div>

                    <h1 class="text-900">Gracias por su visita</h1>
                </header>


                <ul class="mt-4">

                    <li class="p-2 text-base cursor-pointer hover:text-primary-400 transition-duration-200">
                        <a routerLink="recientes">Mis recientes <i class="pi pi-clock"></i> </a>
                    </li>
                  
                    <li class="p-2 text-base cursor-pointer hover:text-primary-400 transition-duration-200">
                        <a routerLink="/" fragment="como-funciona"> Como funciona?</a>
                    </li>

                    <li class="p-2 text-base cursor-pointer hover:text-primary-400 transition-duration-200">
                        <a routerLink="/" fragment="pricing"> Precios</a>
                    </li>

                    <li class="p-2 text-base cursor-pointer hover:text-primary-400 transition-duration-200">
                        <a routerLink="/" fragment="faq"> Preguntas frecuentes</a>
                    </li>

                    
                    <li class="p-2 text-base cursor-pointer hover:text-primary-400 transition-duration-200">
                        <a routerLink="politicas-de-privacidad"> Políticas de privacidad</a>
                    </li>


                    <li class="p-2 text-base cursor-pointer hover:text-primary-400 transition-duration-200">
                        <a routerLink="terminos-y-condiciones"> Términos y condiciones</a>
                    </li>

                   
                </ul>
            </div>


            <div class="banner mt-4 w-full p-3 bg-bluegray-600 border-round-xl shadow-2">

                <h2 class="text-white mb-3">Quiero una tienda para mi negocio</h2>

                <div class="w-full flex justify-content-end">
                    <a routerLink="login/register" mat-ripple class="p-2 px-3 border-round bg-white hover:text-primary transition-duration-200">
                        Comenzar ahora
                    </a>
                </div>

            </div>



            <div class="mt-2 w-full">
                <a mat-ripple routerLink="/admin" class="w-full block text-center p-3 font-bold roboto bg-primary border-round shadow-2">
                    Acceso clientes
                </a>
            </div>

        </div>


    </div>

    
</div>

<div [@fadeIn] *ngIf="menuLanding"  (click)="toogleMenuLanding()"
    class="overlay fadein fixed top-0 left-0 w-full h-full bg-black-alpha-30">
</div>
