.button-active{
    color: #f7f7f7;
    background: #ff6262;
}

.button-faq{
    padding: 19px 22px;
    border-radius:35px;
    height: fit-content;
}

.image-phone{
    margin-left: -5px;
    margin-bottom: -8px;
    width: 30px;
}

.icon{
    margin-left: -5px;
    margin-bottom: -8px;
    width: 30px;
}

.icon-maps{
}

.btn-wp{
    background: #22C55E;
}