<div class="w-full fadein">
    <section class="w-full flex flex-column">
        <div class="w-full md:w-9 m-auto px-3 md:px-0 py-8 d-flex">
            <div class="flex-1 py-4">
                <h1 class="mb-3 text-5xl md:text-7xl font-extrabold">
                    Preguntas <br> frecuentes!
                </h1>
                <span class="text-800 mb-4 block ">Puedes contactarnos siempre que tengas dudas.</span>
                

                <div class="d-flex gap-3">
                    <button (click)="wp.contactSoporte()" mat-ripple class="text-base py-3 d-flex font-bold px-5 bg-primary border-round">
                        <i class="pi pi-whatsapp mr-2 text-base"></i>
                        Contactar 
                    </button>

                    <a mat-ripple routerLink="/" class="px-3 py-3 hover:bg-gray-200 border-round text-primary font-bold">Ir al inicio</a>
                </div>


            </div>

       

        
        
        </div>

        <div class="py-4 w-full px-3 md:px-0 md:w-9 m-auto ">

            <div class="text-center mb-4">
                <div class="hidden md:block">
                    <img src="./assets/images/FAQ.svg" class="w-full w-16rem" alt="storyset.com/business">
                </div>
                <h2 class="text-5xl mb-3 font-extrabold md:hidden">FAQ's</h2>
                <p class="text-xl text-800">Mira las preguntas mas frecuentes sobre DELITIENDA</p>
            </div>

            <div class="relative mb-6 flex flex-row justify-content-center wrap gap-5 uppercase font-bold">

                <button mat-ripple *ngFor="let theme of faqThemes" (click)="setFaqTeme(theme.id)" class="button-faq  font-bold" [class.button-active]="theme.id === currentFaqThemeId">
                    {{theme.name}}
                </button>

            </div>

            <div class="">
                <div [ngSwitch]="currentFaqThemeId" class="faq w-">

                    <div *ngSwitchCase="1" class="fadein ">
                        <div class="w-full mb-6 flex wrap gap-6">
                                    
                            <div class="flex-auto text-balance  md:flex-1 p-3 border-round-xl bg-gray-100">
                                <h3 class=" text-xl mb-2 font-extrabold"> <img src="./assets/icons/phone-14.png"  class="inline image-phone"  alt=""> ¿Como funciona DELI?</h3>
                                <p>Tus clientes ingresan en tu tienda DELI, elijen los productos de tu catalogo que quieran comprar, completan sus datos de pedido y nuestro sistema crea un mensaje que tu cliente enviará por WhatsApp con toda la información de la venta </p>
                            </div>
                      
                            
                            <div class="flex-auto text-balance  md:flex-1 p-3 border-round-xl bg-gray-100">
                                <h3 class=" text-xl mb-2 font-extrabold"><span class="text-2xl mr-1">💻</span>¿Debo tener conocimientos en computación?</h3>


                                <p>Puedes administrar tu tienda desde cualquier dispositivo (celular, tablet, pc). 
                                Una vez con acceso a tu panel de administrador será sencillo cargar tus productos y/o servicios.</p>
                            </div>  
                        </div>
                        
                        <div class="w-full flex wrap gap-6">
                            <div class="flex-auto text-balance  md:flex-1 p-3 border-round-xl bg-gray-100">
                                <h3 class=" text-xl mb-2 font-extrabold"><span class="text-2xl">🛒</span>  ¿Mi rubro puede estar en DELI?</h3>
                                <p>Claro que si, DELI soporta todo tipo de productos y servicios, desde alimentos, indumentaria, limpieza,  y mas. si crees que no puedes no dudes en contactarnos!  </p>
                            </div>  

                            <div class=" flex-auto text-balance  md:flex-1 p-3 border-round-xl bg-gray-100">
                                <h3 class=" text-xl mb-2 font-extrabold"><span class="text-2xl mr-1">🤔</span>Me ayudaran a vender mas?</h3>
                                <p>DELI te proporcionara un medio de venta efectivo, rápido y de fácil acceso para tus clientes, tu deberás compartir el link de tu tienda por redes sociales y mas para generar mas ventas y clientes.</p>
                            </div>
                    
                        </div>
                        
                    
                    </div>


                    <div *ngSwitchCase="2" class="fadein ">
                        <div class="w-full mb-6 flex wrap gap-6">
                            <div class=" flex-auto text-balance  md:flex-1 p-3 border-round-xl bg-gray-100">
                                <h3 class=" text-xl mb-2 font-extrabold"><span class="text-2xl mr-1">🤝​​</span>¿Como ingresaran a mi tienda?</h3>
                                <p>Acceder a tu tienda es fácil, DELI te proporcionara un enlace o código QR que podrás enviar por mensaje a tus clientes y publicarlo en redes sociales, este enlace los enviara directamente a tu tienda en DELI.</p>
                            </div>
                            
                            <div class="flex-auto text-balance  md:flex-1 p-3 border-round-xl bg-gray-100">
                                <h3 class=" text-xl mb-2 font-extrabold"><span class="text-2xl mr-1">⏳</span>¿Cuanto tiempo tarda crear una tienda en DELI?</h3>
                                <p>Una vez complete el registro de su tienda y cargue sus productos desde el panel administrador, estará disponible tu tienda mediante el enlace, esta tarea puede variar dependiendo de la cantidad de productos.</p>
                            </div>  
                        </div>
                        
                        <div class="w-full flex wrap gap-6">
                            <div class="flex-auto text-balance  md:flex-1 p-3 border-round-xl bg-gray-100">
                                <h3 class=" text-xl mb-2 font-extrabold"><span class="text-2xl mr-1">🕐</span>¿Se puede establecer un horario de atención?</h3>
                                <p>Si, puedes configurar desde tu panel, los horarios en los que tu tienda estará recibiendo pedidos por WhatsApp</p>
                            </div>  
                            
                            <div class="flex-auto text-balance  md:flex-1 p-3 border-round-xl bg-gray-100">
                                <h3 class=" text-xl mb-2 font-extrabold"> <img src="./assets/icons/google-maps.png"  class="inline icon icon-maps ml-1"  alt="">¿Puedo establecer un área de entrega para mi tienda?</h3>
                                <p>Si ofreces envíos a domicilio, puedes establecer costo s de envió en base a la distancia entre tu tienda y el comprador</p>
                            </div>
                        </div>
                        
                    
                    </div>
                    <div *ngSwitchCase="3" class="fadein ">
                        <div class="w-full mb-6 flex wrap gap-6">
                            <div class=" flex-auto text-balance  md:flex-1 p-3 border-round-xl bg-gray-100">
                                <h3 class=" text-xl mb-2 font-extrabold"><span class="text-2xl mr-1">💳​</span>¿Cuanto cuesta acceder al servicio?</h3>
                                <p>Obtén mas información acerca de los planes de DELI en el siguiente enlace. <a routerLink="/login/register" class="font-bold text-primary">Ver precios</a> </p>
                            </div>
                            
                            <div class="flex-auto text-balance  md:flex-1 p-3 border-round-xl bg-gray-100">
                                <h3 class=" text-xl mb-2 font-extrabold"><img src="./assets/icons/cancel-subscription.png"  class="inline icon"  alt="">  ¿Puedo darme de baja del servicio en cualquier momento?</h3>
                                <p>Podrás cancelar tu suscripción al servicio cuando quieras, si lo haces antes que termine tu prueba gratuita no te cobraremos nada.</p>
                            </div>  
                        </div>
                        
                        <div class="w-full flex wrap gap-6">
                            <div class="flex-auto text-balance  md:flex-1 p-3 border-round-xl bg-gray-100">
                                <h3 class=" text-xl mb-2 font-extrabold"> <img src="./assets/icons/tax.png"  class="inline icon"  alt=""> ¿Aplican comisiones por venta?</h3>
                                <p>No aplicamos ningún tipo de comisión por venta. <a routerLink="/login/register" class="font-bold text-primary">Ver precios</a> </p>
                            </div>  
                            
                            <div class="flex-auto text-balance  md:flex-1 p-3 border-round-xl bg-gray-100">
                                <h3 class=" text-xl mb-2 font-extrabold"> <img src="./assets/icons/free-30.png"  class="inline image-phone"  alt=""> ¿Es posible acceder a una prueba del servicio?</h3>
                                <p>Tienes una prueba gratuita de 30 días desde que creas tu tienda en DELI, no se efectuará ningún cobro si te das de baja antes que finalice. </p>
                            </div>
                        </div>
                        
                    
                    </div>
                    <div *ngSwitchCase="4" class="fadein ">
                        <div class="w-full mb-6 flex wrap gap-6">
                            <div class=" flex-auto text-balance  md:flex-1 p-3 border-round-xl bg-gray-100">
                                <h3 class=" text-xl mb-2 font-extrabold"><span class="text-2xl mr-1">🤔</span>Me ayudaran a vender mas?</h3>
                                <p>DELI te proporcionara un medio de venta efectivo, rápido y de fácil acceso para tus clientes, tu deberás compartir el link de tu tienda por redes sociales y mas para generar mas ventas y clientes.</p>
                            </div>
                            
                            <div class="flex-auto text-balance  md:flex-1 p-3 border-round-xl bg-gray-100">
                                <h3 class=" text-xl mb-2 font-extrabold"><span class="text-2xl mr-1">💻</span>Debo tener conocimientos de computación?</h3>
                                <p>Puedes administrar tu tienda desde cualquier dispositivo (celular, tablet, pc). 
                                Una vez con acceso a tu panel de administrador será sencillo cargar tus productos y/o servicios.</p>
                            </div>  
                        </div>
                        
                        <div class="w-full flex wrap gap-6">
                            <div class="flex-auto text-balance  md:flex-1 p-3 border-round-xl bg-gray-100">
                                <h3 class=" text-xl mb-2 font-extrabold"><span class="text-2xl">🛒</span>  mi rubro puede estar en DELITIENDA?</h3>
                                <p>Claro que si, DELI soporta todo tipo de productos y servicios, desde alimentos, indumentaria, limpieza,  y mas. si crees que no puedes no dudes en contactarnos!  </p>
                            </div>  
                            
                            <div class="flex-auto text-balance  md:flex-1 p-3 border-round-xl bg-gray-100">
                                <h3 class=" text-xl mb-2 font-extrabold"> <img src="./assets/icons/phone-14.png"  class="inline image-phone"  alt=""> Como recibo mis ventas y/o pedidos?</h3>
                                <p>Tus clientes ingresan en tu tienda DELI, elijen los productos de tu catalogo que quieran comprar, completan sus datos de pedido y nuestro sistema crea un mensaje que tu cliente enviará por WhatsApp con toda la información de la venta </p>
                            </div>
                        </div>
                        
                    
                    </div>

                
                </div>

            </div>


        </div>



    </section>



</div>