.button-active{
    color: rgb(18, 18, 18);
    background: #feb71a;
}

.button-faq{
    padding: 19px 22px;
    border-radius:35px;
}

.image-phone{
    margin-left: -5px;
    margin-right: -5px;
    margin-bottom: -8px;
    width: 36px;
}