<div class="buttom-nav" [style.background]="theme.currentTheme.background_page">
  <div class="container-nav">
    <nav class="navigation">
      <ul class="list-nav">
        <li (click)="location = 'user'" class="item-nav">
          <i [style.color]="location === 'user' ? theme.get('background') : '' " class="fa-solid fa-circle-user icon-nav"></i>
        </li>

        <li (click)="location = 'home'" class="item-nav">
          <div
            class="grid-menu"
            [class.active-home]="location==='home'"
            [style.background]="theme.get('background')"          >
            <div></div>  
            <div></div>
            <div></div>
            <div></div>
          </div>
        </li>

        <li (click)="location = 'cart'" class="item-nav">
          <div class="cart-container">
            <i [style.color]="location === 'cart' ? theme.get('background') : '' " class="fa-solid fa-cart-shopping icon-nav"></i>
            <div [style.background]="theme.currentTheme.background" [style.color]="theme.currentTheme.colorPrimary" class="cart-count">{{ 2 }}</div>
          </div>
        </li>
      </ul>

    </nav>
  </div>
</div>
