.buttom-nav{
    width: 100%;
    height: max-content;
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 0;
    border-radius: 25px 25px 0 0;
    padding: 8px 0;
}

.container-nav{
    width: 100%;
}

.list-nav{
    display: flex;
    justify-content: space-around;
}

.item-nav{
    display: grid;
    place-items: center;

}



.grid-menu{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4px;
    padding: 10px;
    border-radius: 10px;
    transition: all 0.1s;
    &.active-home{
        gap: 0px;
        padding: 12px;
        div{
            border-radius: 0;

        }
    }

    div{
        width: 8px;
        height: 8px;
        background: #ffffff;
        border-radius: 2px;
    }
}

.icon-nav{
    font-size: 20px;
    color: #b6b6b6;
    padding: 10px;

}
