@use "../../../../mixin.scss" as m;

.container-table-products {
  width: 100%;

  @include m.tablet{
    height: calc(100vh - 143px);
  }
  
  padding-bottom: 36px !important;
  margin-bottom: 0.5rem;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;

  ::-webkit-scrollbar {
    width: 0;
  }

}

.p-input-icon-left {
  margin-bottom: 15px;
}

.header-table {
  border-bottom: 1.5px solid #6366f1;
}

.action-list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;

  .buttons-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;

    .new {
    }

    .refresh {
    }

    .delete {
    }
  }

  .visible-column {
    display: none;

    @include m.tablet {
      display: initial;
    }
  }
}

.sticky-header {
  position: sticky;
  top: 0;
  background-color: #fff;
  /* Ajusta el color de fondo según tus preferencias */
}

.state-category {
  .toogle-category {
    display: none;

    
  }

  .text-state-category {
    display: initial;
  }

  &:hover {
    .toogle-category {
      display: initial;
    }

    .text-state-category {
      display: none;
    }
  }
}

.table-products {
  display: flex;
  flex-direction: column;

  .container-item-table {
    &:hover {
      .toogle-product {
        display: flex;
      }

      .state-product {
        display: none;
      }
    }
  }

  .toogle-product {
    font-size: 16px;
    display: none;

    .btn-edit {
      cursor: pointer;
      font-size: 21px;
      padding: 10px;
      transition: all 0.2s;
      transform: translateY(2px);

      &:hover {
        background: #ebebeb;
        border-radius: 25px;
      }
    }
  }

  .item {
    padding: 18px;

    border: thin solid #b2b2b21c;
    border-width: 1px 0 1px 0;
  
    @include m.tablet{
      padding: 10px 40px 10px 20px;
    }
  
  }
}

.product-id {
  font-size: 14px;
  color: #3f3f3f;
}
