<ng-template #noCategory>

    <div class="card p-3">
        <p><b>Parece que no tienes categorías activas en tu tienda</b>, puedes crear una nueva categoría haciendo click
            en el boton que se encuentra debajo de la seccion Categorías.</p>
    </div>

</ng-template>

<app-new-product [category_id]="dataCategory?.id" (close)="newProduct = false" *ngIf="newProduct">

</app-new-product>



<div *ngIf="dataCategory else noCategory" class="card p-0 container-table-products">

    <p-menu #menuCategory [popup]="true" [model]="modelConfigCategory"></p-menu>
    <div class="d-flex justify-content-center sm:justify-content-between p-3 md:px-5 header-table gap-y-3 wrap state-category sticky top-0 bg-gray-50">

        <div class="d-flex flex-1 w-full sm:w-fit justify-content-between sm:justifi-content-start">
            
            <h1 class="mr-2 title overflow-hidden" [style.text-overflow]="'ellipsis'">{{dataCategory.category_name}}</h1>
            <div class="d-flex flex-1 gap-2 justify-content-center sm:justify-content-start w-12rem">
                <span class="sm:border-left-1 sm:pl-2">
                    {{dataCategory.active ? 'Categoria activa' : 'Categoria desactivada'}}
                </span>
                
                <i class="pi pi-circle-fill mt-1" [ngClass]="dataCategory.active ? 'text-green-500' : 'text-red-500'"></i>
            </div>

            
            <div class="toogle-category hidden sm:block  mx-3 ">
                <mat-slide-toggle (click)="setStateCategory(dataCategory, dataCategory.active)" [checked]="dataCategory.active ? true : false" class="" color="primary" [matTooltip]="dataCategory.active ? 'Desactivar' : 'Activar'">                 
                    
                </mat-slide-toggle>
            </div>    
          
            <button  (click)="menuCategory.toggle($event)" class="md:hidden">
                <i class="pi pi-ellipsis-v button-icon"></i>
            </button>


        </div>


        <div class="d-flex gap-3 ">

            <p-button (click)="newProduct = true" class="new" label="Agregar producto" icon="pi pi-plus"
                styleClass="p-button-primary p-button-sm">
            </p-button>

            <button class="hidden md:flex" (click)="deleteCategory()">
                <i class="pi pi-trash button-icon"></i>
            </button>

            <button class="hidden md:flex" (click)="editCategory()">
                <i class="fa-solid button-icon fa-pen"></i>
            </button>
        </div>


    </div>



    <div class="table-products">
        <div >

            <div class="container-item-table shadow-1 hover:shadow-5" *ngFor="let product of productsByCategory">
    
                <div class="item">
    
                    <div class="d-flex between wrap gap-2">
    
                        <div class="d-flex" [ngClass]="product.stock ? '' :'opacity-50'">
                            <div class="image-item mr-4">
                                <img appImageFallback [src]="product.image" class="shadow-6 border-round-sm"
                                    alt="{{product.name}}" width="100">
                            </div>
    
                            <div class="item-name">
                                <p class="product-id">#{{product.id}}</p>
                                <p>
                                    <b>
                                        {{product.name}}
                                        -
                                        {{product.price | currency:'USD'}}
                                    </b>
                                </p>
    
                                <div *ngIf="product.variations.length" class="d-flex mt-2 text-gray">
                                    <i class="fa-solid fa-list mr-2"></i>
                                    <p>{{product.variations.length}} Grupos de opciones </p>
                                </div>
                            </div>
                        </div>
    
                        <div class="state-product d-flex gap-2">
                            <i class="pi pi-circle-fill" [ngClass]="product.stock ? 'text-green-500' : 'text-red-500' "></i>
                            <span>{{product.stock ? 'Disponible' : 'No disponible'}} </span>
                        </div>
    
                        <div class="toogle-product d-flex gap-4">
    
    
                            <button (click)="deleteProduct(product.id)">
                                <i class="btn-edit pi pi-trash"></i>
                            </button>
    
                            <button class="mr-2" (click)="editProduct(product)">
                                <i class="btn-edit fa-solid fa-pen"></i>
                            </button>
    
                            <mat-slide-toggle (change)="setStockProduct(product, product.stock)"
                                [checked]="product.stock ? true : false" color="primary"></mat-slide-toggle>
                        </div>
    
                    </div>
    
    
    
    
                </div> 
    
    
                <div *ngIf="product.editing">
                    <app-main-edit-product [product]="product"></app-main-edit-product>
                </div>
            </div>
        
        </div>


    </div>


    <ng-template #loader>
        <app-loader-full></app-loader-full>
    </ng-template>
    <p-confirmDialog class="alert-dele" [style]="{width: window.innerWidth > 550 ?'50vw' : '90vw'}"></p-confirmDialog>