<div class="card p-0 container-table-products">


    <div *ngIf="dataCategory" class="d-flex p-3 header-table gap-3 wrap">

        <h1 class="d-flex title-list-dinamic">{{dataCategory.category_name}}

            <span [style.color]="'#6366F1'" class="mr-4 ml-2">({{filtredProducts.length}})</span>

        </h1>

        <div class="buttons-list">

            <p-button class="new" label="Nuevo producto" class="p-2" icon="pi pi-plus"
                styleClass="p-button-primary p-button-sm">
            </p-button>

        </div>

    </div>





    <div class="table-products">
        <div class="container-item-table shadow-1 hover:shadow-5" *ngFor="let product of filtredProducts">

            <div class="item">

                <div class="d-flex between wrap gap-2">

                    <div class="d-flex">
                        <div class="image-item mr-4">
                            <img appImageFallback [src]="product.image" class="shadow-6 border-round-sm" alt="{{product.name}}"
                                width="100">
                        </div>

                        <div class="item-name">
                            <p>
                                {{product.name}}
                                -
                                {{product.price | currency:'USD'}}
                            </p>

                            <div *ngIf="product.variations.length" class="d-flex mt-2" style="color: #3f3f3f;">
                                <i class="fa-solid fa-list mr-2"></i>
                                <p>{{product.variations.length}} Grupos de opciones </p>
                            </div>
                        </div>
                    </div>

                    <div class="state-product d-flex gap-2">
                        <i class="pi pi-circle-fill"></i>
                        <span>{{true ? 'Disponible' : 'No disponible hasta nuevo aviso.'}} </span>
                    </div>

                    <div class="toogle-product d-flex gap-4">

                        
                        <button (click)="deleteProduct(product.id, $event)">
                            <i  class="btn-edit pi pi-trash"></i>
                        </button>                        

                        <button class="mr-2" (click)="editProduct(product)">
                            <i  class="btn-edit fa-solid fa-pen"></i>
                            <!-- <i class="btn-edit pi pi-sliders-h"></i> -->
                        </button>

                        <mat-slide-toggle color="primary"></mat-slide-toggle>
                    </div>

                </div>




            </div>


            <div *ngIf="product.editing">
                <app-main-edit-product [product]="product"></app-main-edit-product>
            </div>
        </div>


    </div>


    <ng-template #loader>
        <app-loader-full></app-loader-full>
    </ng-template>
    <p-confirmDialog  class="alert-dele" [style]="{width: window.innerWidth > 550 ?'50vw' : '90vw'}"></p-confirmDialog>
