<div class="container-info">

    <div class="header-detail">
        <a (click)="modePreview ? null : redirectBack() ">
            <i class="pi pi-chevron-left icon-back"></i>
            
            <h2 class="product-category">{{product.category}}</h2>
        </a>

        

        
    </div>
    
    <div class="data-product">        
        <div [style.background]="theme.currentTheme.backgroundPage" class="container-image">
            <img src="{{product.image}}" alt="">
        </div>
        
        <div class="container-text" [style.background]="theme.get('backgroundPage')">
                <button  [class.clicked]="favClicked" class="fav-btn" (click)="toogleFav()">
                    <i [ngClass]="favClicked?'pi-heart-fill':'pi-heart'" class="pi icon-fav"></i>
                </button>

                <h2 class="product-name">{{product.nameProduct}}</h2>
                <h3 class="product-price">{{product.price |currency}}</h3>
                <p class="product-description">{{product.description}} Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quis repellendus consequatur consectetur iste ullam corporis rem veniam officiis sint temporibus itaque nemo maxime.</p>
         
                <div class="container-ingredients">
                    <ul class="list-ingredients">
                        <li class="chip ingredient" [style.background]="theme.get('background')" [style.color]="theme.get('colorTextSecondary')" *ngFor="let ingredient of product.ingredients">
                            {{ingredient}}
                        </li>
                    </ul>
                </div>
        
                
              <app-add-product-cart *ngIf="product" [modePreview]="modePreview" [product]="product">
                    
              </app-add-product-cart>
         
        </div>

    </div>


</div>