<div class="container-info">

    <div *ngIf="!modePreview" class="header-detail">

        <a  (click)="redirectBack()" class="d-flex">
            <i class="pi pi-chevron-left p-2 text-white border-round bg-bluegray-800 mr-3"></i>
            <h1 class="title">{{product.category_name}}</h1>
        </a>

        

        
    </div>
     
    <div class="data-product bg-white" #data [style.overflow]="modePreview ? 'unset' : 'scroll'">       

        <div class="container-image">
            <img src="{{product.image}}" alt="">
        </div>
        
        <div class="container-text">
                <button  [class.clicked]="favClicked" class="fav-btn" (click)="toogleFav()">
                    <i [ngClass]="favClicked?'pi-heart-fill':'pi-heart'" class="pi icon-fav"></i>
                </button>

                <h2 class="product-name">{{product.name}}</h2>
                <h3 class="product-price">{{product.price |currency}}</h3>
                <p class="product-description">{{product.description}}</p>
         
                <div class="container-ingredients" *ngIf="product.ingredients">
                    <ul class="list-ingredients">
                        <li class="chip ingredient" [style.background]="theme.get('background')" [style.color]="theme.get('colorTextSecondary')" *ngFor="let ingredient of product.ingredients">
                            {{ingredient}}
                        </li>
                    </ul>
                </div>
        
                <div #optionsDisplay>
                    <app-add-product-cart  *ngIf="product" [modePreview]="modePreview" [product]="product">
                          
                    </app-add-product-cart>
                </div>
         
        </div>

    </div>


</div>