.container-info{
    display: grid;
    grid-template-rows: 1fr min-content;
    height: 100%;
}

.header-detail{
    padding: 10px;
    display:flex;
    justify-content:space-between;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    
    .product-category{
        display: inline-block;
        
    }


}

 .counter-cart{
    position: absolute;
    top: -5px;
    right: -5px;
    font-size: 10px;
    font-weight: 700;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    text-align: center;
 }
.data-product{
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    .icon-fav{
        padding: 5px;
        font-size: 18px;
        color: #e74c3c;
        background: #ef3e2b87;
        border-radius: 5px;
    
    }
}

.container-image{
  position: relative;
    width: 100%;
    min-height: 270px;
    height: 50vh;
    
    img{
        width: 100%; 
        height: 100%;
    }
}

.container-text{
    width: 100%;
    position: relative;
    padding-bottom: 110px;
   .product-description{
    color:#232323
   }    

}

.container-ingredients{
    padding: 7px 0 10px 0;

    .list-ingredients{
        display: flex;
        flex-wrap:wrap ;
        gap: 5px;

    }

    .ingredient{
        font-size: 12px;

    }

}

.fav-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 24px;
    top: 7px;
    right: 15px;
    transition: transform 0.3s ease-in-out;
  }
  
  .fav-btn .icon-fav{
    color: #ffffff;
    transition: color 0.3s ease-in-out;
  }
  

  .fav-btn.clicked .icon-fav{
    color: #e74c3c;
  }

  .index-galery{
    position: absolute;
    top: 10px;
    z-index: 10;
    right:  10px;
    background-color: #f5f5f5;
    border-radius: 12px;
    color: rgba(0,0,0,.9);
    font-size: 14px;
    font-weight: 600;
    padding: 4px 10px 3px 10px;
    position: absolute;
    text-align: center;
  }

  .padding-details{
    padding: 10px;
  }

  .btn-zoom-image{
    position: absolute;
    bottom: 15px;
    right: 15px;
    z-index: 99;
  }

  .btn-close-galery{
    position: absolute;
    top: 15px;
    left: 15px;
    z-index: 99;
  }