.container-info{
    display: grid;
    grid-template-rows: 60px 1fr min-content;
    height: 100%;
}

.header-detail{
    padding: 0 15px;
    display:flex;
    justify-content:space-between;
    align-items: center;

    .icon-back{
        margin-right: 15px;
        padding: 5px;
        font-size: 18px;
        color: white;
        background: #464646;
        border-radius: 5px;
    }
    
  

    .product-category{
        display: inline-block;
        
    }


}

 
.data-product{
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
    padding-bottom: 65px;
    .icon-fav{
        padding: 5px;
        font-size: 18px;
        color: #e74c3c;
        background: #ef3e2b87;
        border-radius: 5px;
    
    }
}

.container-image{
    width: 100%;
    height: 270px;
    img{
        width: 100%; 
        height: 270px;
        position: absolute;
        left: 0;
        object-fit: cover;

    }
}

.container-text{
    margin-top: -15px;
    width: 100%;
    border-radius: 15px 15px 0 0;
    position: relative;
    padding: 0 15px;

  

    .product-name{
        padding: 7px 0 0 0;
    }
    
   .product-description{
    color:#232323
   }    

}

.container-ingredients{
    padding: 7px 0 10px 0;


    .list-ingredients{
        display: flex;
        flex-wrap:wrap ;
        gap: 5px;

    }

    .ingredient{
        font-size: 14px;

    }

}






.fav-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 24px;
    position: absolute;
    top: 7px;
    right: 15px;
    transition: transform 0.3s ease-in-out;
  }
  
  .fav-btn .icon-fav{
    color: #ccc;
    transition: color 0.3s ease-in-out;
  }
  

  .fav-btn.clicked .icon-fav{
    color: #e74c3c;
  }