@use './mixin.scss' as m;
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior:smooth;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
     
}
html {
    scroll-behavior: smooth;
}

body{
    font-family: system-ui, -apple-system;
    font-size: 14px;
    @include m.tablet{
        font-size: 16px;
    }
    background: #eff3f8;
    color: #23175b;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;

}

h1,h2,h3,h4,h5,h6{
    // color: #1d2334;
    font-family: muli;

}

h1{
    font-size: 22px;
    font-weight: 700;

}

h2{
    font-size: 17px;
    font-weight: 700;
}

h3{

    font-size: 16px;
    font-weight: bold;
    
}

ul{
    list-style: none;
    
}
a{
    text-decoration:none;
    color: inherit;
    
}a




.p-dialog{
    max-height: none !important;
    color:#343a40 !important;
}

.p-dialog-header{
    background: #8c85ff !important;
}

.p-dialog-content{
    padding: 2rem 1.5rem !important;
}
.modal-preview{
    .p-dialog-content{
        padding: 0 !important;
        &::-webkit-scrollbar {
            width: 0px; /* Para Safari y Chrome */
        }
        scrollbar-width: none; /* Para Firefox */
        -ms-overflow-style: none; /* Para IE y Edge */
    }
}

th{
    font-size: 17px !important;
}

td{
    font-size: 16px !important;
    padding: 5px 15px !important;
}


.mat-mdc-floating-label{
    font-size: 14px !important;
}


.input-group{
    margin: 5px;

    @media (max-width:700px) {
        width: 100%;
    }
}
 

.pad-header{
    padding-top: 72px !important;
}


.alert-detail{
    .mdc-snackbar__surface{
        padding: 11px 0 !important;
        background: rgb(255, 73, 73) !important;
    }
}
