*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior:smooth;
    
}


body{
    font-family: system-ui, -apple-system;
    font-size: 14px;
    overflow-x: hidden;
}

ul{
    list-style: none;
    
}
a{
    text-decoration:none;
    color: inherit;
    
}

button{
    font-size: 14px;
    font-family: inherit;
}