@use './reset.scss';

.chip-orange{
    padding: 3px 0;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    border-radius: 15px; 
}

/* You can add global styles to this file, and also import other style files */