@use './reset.scss';
@use './assets/sass/index';
@use './mixin.scss' as m;
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import 'assets/layout/styles/layout/layout.scss';
@import '../node_modules/primeicons/primeicons.css';
@import '../node_modules/primeng/resources/primeng.min.css';
@import '../node_modules/primeflex/primeflex.css';
@import 'ngx-toastr/toastr';



@font-face {
    font-family: 'muli';
    src: url('./assets/fonts/Muli-Regular.ttf');
    font-weight: normal;

}

@font-face {
    font-family: 'muli';
    src: url('./assets/fonts/Muli-SemiBold.ttf');
    font-weight: 500;

}

@font-face {
    font-family: 'muli';
    src: url('./assets/fonts/Muli-Bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: 'muli';
    src: url('./assets/fonts/Muli-Black.ttf');
    font-weight: 900;
}

html {
    scroll-behavior: smooth;
}

$gutter: 1rem; //for primeflex grid system

.chip {
    background: #2d2d2d;
    width: fit-content;
    padding: 4px 15px;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 40px;
}

.link {
    text-decoration: underline;
    color: #3d5188;
    cursor: pointer;
}

.d-block {
    display: block !important;
}

.d-inline {
    display: inline !important;
}

.d-flex {
    display: flex;
    align-items: center;

    i{
    }
}

.between {
    justify-content: space-between !important;

}

.wrap {
    flex-wrap: wrap;
}


.mdc-line-ripple::after {
    border-bottom-color: rgb(118, 118, 118) !important;
}

.container {
    height: auto;
    max-width: 1100px;
    margin: 0 auto;
    
}

.title {
    font-size: 20px !important;
}

.content {
    margin: 0 auto;
    padding: 0 15px 80px 15px;

    @include m.laptop {
        // max-width: 50%;
    }
}

.alert {

    font-family: var(--mdc-typography-body1-font-family, var(--mdc-typography-font-family, Roboto, sans-serif));
}

.mdc-button__label {
}

.mat-ripple,
.mat-mdc-button-ripple {
    
}

.mat-mdc-button-persistent-ripple,
.mdc-button__ripple {
    color: transparent;
}

.p-dialog-mask {
    z-index: 999 !important;
}

button {
    font-size: 14px;
    background: none;
    border: none;
    cursor: pointer;
}



.mdc-list-item__primary-text {
    width: 100%;
}


.cdk-overlay-dark-backdrop {

    background: #3b3c6c6b !important;
}


.p-datatable {
    flex: 1;
}

.p-scroller {

    height: 100% !important;
}

/* You can add global styles to this file, and also import other style files */


.p-accordion-content {
    padding: 0 !important;
    border: 0 !important;

}



.button-icon {
    cursor: pointer;
    padding: 10px;
    transition: all .2s;
    transform: translateY(2px);
    font-size: 21px;

    &:hover {
        background: #ebebeb;
        border-radius: 25px;
    }



}


.acordeon-categories{
    
    
    .p-accordion-header{
        position: sticky;
        top: 0;
        z-index: 222;
    }

    .p-accordion-content{
        max-height: 350px;
        overflow-y: auto;

        @include m.laptop{
            max-height: calc(100vh - 338px);;
        }

    }

}


.ui-draggable-dragging.p-draggable-dragging {
    opacity: 0; /* Cambia la opacidad a 0.8 */
    /* Agrega otros estilos personalizados según tus necesidades */
  }

  .preview-drop{

    background: rgb(255, 255, 255);
    padding:5px 10px ;
    opacity: 1 !important;
    animation: all .5s;
    -webkit-tap-highlight-color:none !important;

  }
.text-ellipsis{
    text-overflow: ellipsis;
}

.gap-y-1{
    row-gap:0.25rem ;
}
.gap-y-2{
    row-gap:0.5rem ;
}
.gap-y-3{
    row-gap:1rem ;
}

.object-contain{
    object-fit: contain;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


.text-sec{
    color: #ff725e !important;
}

.text-end{
    text-align: end !important;
}


.mat-mdc-dialog-content{
    max-height: none !important;
}