<section class="relative" *ngIf="fixedProducts?.length">
  <div class="d-flex justify-content-between w-full mb-2">
    <h2 class="title mb-2">Destacados</h2>

    <div class="d-flex gap-2">
        <button mat-ripple (click)="scrollLeft()" class="flex p-2 button-slide">
            <i class="pi pi-arrow-left text-900 text-sm"></i>
        </button>
        
        <button mat-ripple (click)="scrollRight()" class="flex p-2 button-slide">
            <i class="pi pi-arrow-right text-900 text-sm"></i>
        </button>

    </div>

</div>

  <div (click)="stopInterval = true" (mouseenter)="stopInterval=true" (mouseleave)="stopInterval=false"
    class="container-products-fixed flex flex-row gap-2 w-full pb-3 " #containerProducts>

    <a [routerLink]="p.category_name.toLowerCase()  + '/' + p.name" [queryParams]="{id:p.id}"
      class="card-product-fixed px-1 " *ngFor="let p of fixedProducts">
      <div mat-ripple class=" border-round-xl  flex w-full h-full p-2 flex-column bg-white shadow-3">


        <div class="w-full">
          <img loading="lazy" appImageFallback class="w-full image-product-fixed border-round-sm bg-gray-200" [src]="p.image" [alt]="p.name">
        </div>

        <h5 class="font-bold mb-1">
          {{p.name}}
        </h5>

        
        <span *ngIf="!p.ingredients?.length" class="product-ingredients">
          {{p.description}}
        </span>
        
        <span *ngIf="p.ingredients?.length" class="ingredients">{{p.ingredients.join(', ')}}</span>


        <div class="my-1 text-base font-bold product-price" *ngIf="p|lowestPrice; else singlePrice">
          Desde
          <span class="font-bold">
            {{ (p|lowestPrice) | currency }}
          </span>
        </div>
        
        <ng-template #singlePrice>
          <div class="container-price my-1">
            <span class="product-price font-bold text-base">{{ p.price | currency }}</span>
          </div>
        </ng-template>
        
      </div>
    </a>


  </div>


</section>