@use "../../../../mixin.scss" as m;

.container-products-fixed {
  overflow-x: scroll;
  scroll-snap-type: x mandatory;

  &::-webkit-scrollbar{
    // display: none;
    // width: 0;

  }

}

.card-product-fixed {
  scroll-snap-align: start  ;
  height: 280px;
  width: 48.5%;
  min-width: 210px;
  max-width: 210px;

  @include m.tablet {
    min-width: 250px;
    scroll-snap-align:none;
  }
}
 
.image-product-fixed {
  max-height: 150px;
  min-height: 150px;

  object-fit: contain; 
}

.ingredients {
  font-size: 12px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.button-slide{
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  cursor: pointer;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 1px solid rgb(219, 218, 222);
  background-color: rgb(255, 255, 255);
}

