
<!-- <p>Ingresa el nombre deli de tu local favorito</p>
<input placeholder="Enter text here" class="input-style" type="text"> -->

<div class="container-box-landing">
    <div class="box-landing">

        <img class="logo-box-landing" src="./assets/logos/logo-de.png" alt="">
    
        <div class="container-text-landing mobile">
            <h4 class="text-landing mobile">
                <span class="first-text">Ordena en segundos!</span> <br>
                Explora tus locales y haz tu pedido.
            </h4>

            <h4 class="text-landing desktop ">
                <span class="first-text">Ordena en segundos con Deli!</span> <br>
                Explora tus locales favoritos y haz tu pedido de forma rápida y sencilla <br>
                Descarga nuestra aplicación móvil o de escritorio para obtener todas nuestras funcionalidades.
            </h4>
        </div>

        <div matRipple class="icon-like border-round-3xl">
            <i class="pi pi-thumbs-up"></i>
        </div>
    </div>
    
        <div  *ngFor="let circle of [1,2]; let i" class="circle circle-{{i}}"></div>
</div>

<h1 class="mb-2">Recientes</h1>

<div class="container-recents">


    <app-card-local *ngFor="let local of locals" [local]="local"></app-card-local>

    <div class="" *ngIf="recentsCharged && !locals?.length">
        <div class="w-full h-full">
             <div class="overflow-hidden">
                <img src="/assets/images/no-results.svg" class="w-full max-w-27rem block object-contain m-auto" alt="">
            </div> 
            <h2 class="text-center text-2xl text-800" >No se encontraron tiendas</h2>
        </div> 
    </div>
    
    <div *ngIf="!locals && !recentsCharged" class="flex flex-column gap-2">
        <div class="skeleton" *ngFor="let pre of [1,2,3,4]">
            <p-skeleton width="100%" height="5rem"></p-skeleton>
        </div>
    </div> 



</div>