
@font-face {
    font-family: 'helvetica';
    src: url('../fonts/helvetica-neue/Helvetica-Font-normal.woff2');
    font-weight: 400;
}

@font-face {
    font-family: 'helvetica';
    src: url('../fonts/helvetica-neue/Helvetica-Font-semi-bold.woff2');
    font-weight: 500;
}

@font-face {
    font-family: 'helvetica';
    src: url('../fonts/helvetica-neue/Helvetica-Font-bold.woff2');
    font-weight: bold;
}